

<script src="{{ asset('bundles/pizotearkadmin/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/pizotearkadmin/js/ckeditor/adapters/jquery.js')  }}"></script>
<script type="text/javascript">
</script>
<style>
    .input-group {
        z-index: 0;
    }
</style>
<div class="container">

	<div class="row">
	<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

		<div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" style="" role="widget">

			<header role="heading">
				<h2>{{ 'label_form'|trans }}</h2>
			</header>

			<!-- widget div-->
			<div role="content">

				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->

				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">

					<div class="form-inputs-g">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
						

						<fieldset>

							<div class="form-group col-md-6">
								{{ form_label(form.complex) }}
								{{ form_errors(form.complex) }}
								{{ form_widget(form.complex, { 'attr': {'class' : 'form-control classic' } } )}}

							</div>
							<div class="clearfix"></div>

							<div class="form-group col-md-6">
								{{ form_label(form.descriptionEN) }}
								{{ form_errors(form.descriptionEN) }}
								{{ form_widget(form.descriptionEN) }}

							</div>

							<div class="form-group col-md-6">
								{{ form_label(form.descriptionES) }}
								{{ form_errors(form.descriptionES) }}
								{{ form_widget(form.descriptionES) }}

							</div>


								<div class="hide">
								{{ form_rest(form) }}
							</div>

						</fieldset>

						<div class="form-actions">

							<button class="btn btn-primary">
								<i class="fa fa-save"></i>
								{{ 'label_save'|trans  }}
							</button>
						</div>

					<!--</form>-->
					{{ form_end(form) }}
					</div>

				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget div -->

		</div>

		<div class="clearfix"></div>

	</article>
</div>

</div>
<script type="text/javascript" language="Javascript">

	$( document ).ready(function() {

		$("#complex_faq_complex").val({{ entity.complex.id }});

		$(function() {
			//$('textarea.ckeditor').ckeditor();
		});


	});


</script>