<script src="{{ asset('bundles/backendadmin/js/backend.js')  }}"></script>

<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-md-6">
				<h3 class="header-title">{{ new is defined ? 'label_new'|trans : '' }} {{ 'label_payment'|trans }}</h3>
			</div>
			{{ include('BackendAdminBundle:Complex:sessionComplex.html.twig') }}
		</div>
		<div class="row">
			<div class="col-md-12">
				<blockquote>
					<div class="col-md-11">
						<p> {{ 'label_payment_new_advice'|trans }}  </p>
					</div>
					<div class="col-md-1 text-right">
						<i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
					</div>
				</blockquote>
			</div>
		</div>                

	</div>

	<!-- CONTENT -->
	<div class="main-content no-bordertop">
		<form method="POST" id="paymentForm" name="paymentForm" action="{{ path('backend_admin_propertycontracttransaction_create') }}">
			<div class="form-inputs-g">

				<div class="row">
					<div class="col-md-4 form-group">
                                            <label class="txt-blue-bold">{{ 'label_complex_sector'|trans }}: </label>                                            
                                            <select  class="form-control classic" id="sector_select" name="sector_select">
                                                    {% for sector in complexSector %}
                                                            <option value="{{ sector.id }}">{{ sector }}</option>
                                                    {% endfor %}
                                            </select>                                            
					</div>

					<div class="col-md-4 form-group">
                                            <label class="txt-blue-bold">{{ 'label_property_number'|trans }}: </label>                                            
                                            <select  class="form-control classic" id="property_select" name="property_select">

                                            </select>                                            
					</div>


					<div class="col-md-4 form-group">
                                            <label class="txt-blue-bold">{{ 'label_type'|trans }}: </label>						
                                            <select  class="form-control classic" id="type_select" name="type_select">
                                                    {% for pt in paymentType %}
                                                            <option value="{{ pt.id }}">{{ pt }}</option>
                                                    {% endfor %}
                                            </select>						
					</div>

				</div>

				<hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

				<div class="row">
                                    <div class="form-group col-md-6 col-md-offset-3">
                                        <label class="txt-blue-bold">{{ 'label_due_date'|trans }}: </label>
                                        <input class="form-control" type="date" id="due_date" name="due_date" >
                                    </div>					
                                    <div class="form-group col-md-6 col-md-offset-3">
                                        <label class="txt-blue-bold">{{ 'label_amount'|trans }}:  </label>
                                        <input type="text" class="form-control" placeholder="$40.00" id="amount" name="amount" >
                                    </div>
                                    <div class="form-group col-md-6 col-md-offset-3">
                                        <label class="txt-blue-bold">{{ 'label_description'|trans }}: </label>
                                        <textarea class="form-control rounded-0" id="description" name="description" rows="5"></textarea>
                                    </div>					                                    
                                    <div class="form-group col-md-6 col-md-offset-3">
                                        <label class="txt-blue-bold">{{ 'label_comment'|trans }}: </label>
                                        <textarea class="form-control rounded-0" id="comment" name="comment" rows="5"></textarea>
                                    </div>					
				</div>
				<br/>				
				<div class="row">
                                    <div class="form-group col-md-6 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary btn-ps pull-right">{{ 'label_save'|trans }}</button>
                                        <a  href="{{ path('backend_admin_propertycontracttransaction_index') }}" class="btn btn-primary button-cancel btn-ps pull-right">{{ 'label_cancel'|trans }}</a>                                        
                                        <div class="clearfix"></div>
                                    </div>
					<div class="form-group col-md-6 col-md-offset-3">
						
					</div>
					<div class="col-md-2">
						
					</div>
				</div>

			</div>
		</form>
	</div>
</div>

<script type="text/javascript" language="JavaScript">

	$( document ).ready(function() {


		$("#sector_select").change(function () {
			changeProperties("{{ path('backend_admin_complex_sector_list_properties') }}", "property_select", $("#sector_select").val() );
		});

		changeProperties("{{ path('backend_admin_complex_sector_list_properties') }}", "property_select", $("#sector_select").val() );


		$("#paymentForm").validate();


		$("#sector_select").rules("add", {required:true});
		$("#property_select").rules("add", {required:true});
		$("#type_select").rules("add", {required:true});
		$("#description").rules("add", {required:true, maxlength: 160});
		$("#comment").rules("add", {required:false, maxlength: 160});
		$("#amount").rules("add", {required:true, number:true});
		$("#due_date").rules("add", {required:true});


	});


	$('[name="paymentForm"]').on("submit", function(){
		//Code: Action (like ajax...)

		if($("[name='paymentForm']").valid()){
			$('#pizote_spinner').show();
			return true;
		}
		else{
			return false;
		}

	});



</script>