{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_propertycontracttransaction_index') }}">{{ 'label_menu.payment'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_propertycontracttransaction_new') }}">{{ 'label_new'|trans  }} {{ 'label_charge'|trans }}</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:PropertyContractTransaction:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}