<!DOCTYPE html>
<html lang="en">
    <head>

    
        <title>
	      {% set _block_title = block('title') %}
	      {% if _block_title is not empty %}
	          {% block title %}{% endblock %} |
	      {% endif %}
	      Backend        	
        </title>
        
        
    {% block metas %}    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
		{% block stylesheets %}

			<!-- CSS -->
			<!--web--><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/pizotearkadmin/css/bootstrap.css')  }}" rel="stylesheet" />
			<link href="{{ asset('bundles/pizotearkadmin/css/datepicker.css')  }}" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/pizotearkadmin/css/uniform.default.min.css')  }}" rel="stylesheet" type="text/css" />


			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
			{#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/bootstrap/dist/css/bootstrap.css') }}">#}
			<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pizotearkadmin/css/bootstrap.css') }}">
			<link href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/bootstrap-jasny/dist/extend/css/jasny-bootstrap.min.css') }}" />
			<link href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css" media="screen" >
			<link href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />

			<link href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/select2/select2.css') }}" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/select2/select2-bootstrap.css') }}" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/pizotearkadmin/css/better_condos/scripts/vendor/jquery.uniform/themes/default/css/uniform.default.min.css') }}" rel="stylesheet" type="text/css" />
			<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/pizotearkadmin/css/ark.css') }}" rel="stylesheet" type="text/css" media="screen" >


			<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
			<link href="{{ asset('bundles/pizotearkadmin/css/flags.css')  }}" rel="stylesheet" type="text/css" />

			<!-- Remove this line on production
            <link href="scripts/css/examples.css" rel="stylesheet" type="text/css" />
            -->

			<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
			<![endif]-->

		{% endblock %}

		{% block javascripts %}
        <!-- JS -->
        
           
        <!--<script src="{{ asset('bundles/pizotearkadmin/js/jquery.min.js') }}"></script>-->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="{{ asset('bundles/pizotearkadmin/js/jquery-ui.min.js')  }}"></script>

        
        {#<script src="{{ asset('bundles/pizotearkadmin/js/ckeditor.js')  }}"></script>#}
        <script src="{{ asset('bundles/pizotearkadmin/js/jquery.uniform.min.js')  }}"></script>
        
        <script src="{{ asset('bundles/pizotearkadmin/js/jquery.autosize.min.js')  }}"></script>
        <script src="{{ asset('bundles/pizotearkadmin/js/moment.min.js')  }}"></script>

        <script src="{{ asset('bundles/pizotearkadmin/js/bootstrap.min.js')  }}"></script>
        <script src="{{ asset('bundles/pizotearkadmin/js/bootstrap-datepicker.js')  }}"></script>
        <script src="{{ asset('bundles/pizotearkadmin/js/jasny-bootstrap.min.js')  }}"></script>
        <script src="{{ asset('bundles/pizotearkadmin/js/daterangepicker.js')  }}"></script>
        

		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>


        {#<script src="{{ asset('bundles/pizotearkadmin/js/select2.min.js')  }}"></script>#}
        <script src="{{ asset('bundles/pizotearkadmin/js/fullcalendar.min.js')  }}"></script>
        {#<script src="{{ asset('bundles/pizotearkadmin/js/prettify.js')  }}"></script>#}
		{#<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>#}

		<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
		
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
		<!--<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
		<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>-->
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
		
        <script src="{{ asset('bundles/pizotearkadmin/js/ark.min.js')  }}"></script>
        {#<script src="{{ asset('bundles/pizotearkadmin/js/jquery-validation-1.13.1/dist/jquery.validate.js')  }}"></script>#}
		<!-- JQUERY VALIDATE -->
		<script src="{{ asset('bundles/pizotearkadmin/js/jquery-validate/jquery.validate.min.js') }}"></script>
		{%  if app.request.getLocale() == "es" %}
		<script src="{{ asset('bundles/pizotearkadmin/js/jquery-validate/messages_es.js') }}"></script>
		{% else  %}
		<script src="{{ asset('bundles/pizotearkadmin/js/jquery-validate/messages_en.js') }}"></script>
		{% endif %}

        
        <!--<script src="{{ asset('bundles/pizotearkadmin/js/jszip/dist/jszip.js')  }}"></script>-->
        
	{% endblock %}    
      

    </head>
    
    <body class="cover">

        <div class="wrapper">
            <!-- Demo Bar -->
			{#
				<div id="layout_options">
					<a href="#" class="options-handle"><i class="fa fa-gear"></i></a>
					<h5>Opciones de Pantalla</h5>
					<label>
						<input type="checkbox" id="fixed_header" />
						Encabezado fijo
					</label>
					<label>
						<input type="checkbox" id="fixed_container" />
						En contenedor
					</label>
				</div>

			#}
            <!-- END: Demo Bar -->
		    {{ include('BackendAdminBundle:Partials:headerPlain.html.twig') }}



            <!-- BODY -->
            <div class="body">

				{#{{ include('BackendAdminBundle:Partials:aside.html.twig') }}#}

                <section class="content">
					{#
					<ol class="breadcrumb">
			            {% block breadcrumb %}
			            	<li class="active"><a href="{{ path('backend_admin_homepage') }}">{{ 'label_menu.home' | trans }}</a></li>
			            {% endblock %}

					</ol>

					#}


					<!-- CONTENT -->
					<div class="main-content no-bordertop">


						<div class="container">

						{% block body %}
						
				              {% for flashMessage in app.session.flashbag.get('warning') %}
				                <div class="alert alert-warning fade in">
				                  <button class="close" data-dismiss="alert">
				                    ×
				                  </button>
				                  <i class="fa-fw fa fa-warning"></i>
				                  <strong>{{ 'label_flash_warning'|trans }}</strong> {{ flashMessage|raw }}
				                </div>
				              {% endfor %}
				
				              {% for flashMessage in app.session.flashbag.get('success') %}
				                <div class="alert alert-success fade in">
				                  <button class="close" data-dismiss="alert">
				                    ×
				                  </button>
				                  <i class="fa-fw fa fa-check"></i>
				                  <strong>{{ 'label_flash_success'|trans }}</strong> {{ flashMessage|raw }}
				                </div>
				              {% endfor %}
				
				              {% for flashMessage in app.session.flashbag.get('info') %}
				                <div class="alert alert-info fade in">
				                  <button class="close" data-dismiss="alert">
				                    ×
				                  </button>
				                  <i class="fa-fw fa fa-info"></i>
				                  <strong>{{ 'label_flash_info'|trans }}</strong> {{ flashMessage |raw }}
				                </div>
				              {% endfor %}
				
				              {% for flashMessage in app.session.flashbag.get('danger') %}
				                <div class="alert alert-danger fade in">
				                  <button class="close" data-dismiss="alert">
				                    ×
				                  </button>
				                  <i class="fa-fw fa fa-times"></i>
				                  <strong>{{ 'label_flash_danger'|trans }}</strong> {{ flashMessage|raw }}
				                </div>
				              {% endfor %}						
						{% endblock %}
						</div>
					    
					</div>
					<!-- END: CONTENT -->
                </section>
            </div>
            <!-- END: BODY -->
        </div>

		
	    
	    
    <script type="text/javascript">
      
	$(document).ready(function(){      
	  {% block extrascripts %}
	  {% endblock %}
 	});
    </script>
	    		

    </body>
    
</html>