{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_geo_state_index') }}">{{ 'label_menu.geo_state'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_geo_state_new') }}">{{ 'label_new'|trans  }}</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:GeoState:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
{% endblock %}