{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}

{% endblock %}

{% block title %}
    Error
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block body -%}
    {{ parent() }}
    <h1>ERROR</h1>

    <p>
        {{ 'error.contact_admin'|trans }}
        <a href="{{ path('backend_admin_homepage') }}">&nbsp;{{ 'label_home'|trans }}</a>
    </p>


{% endblock %}


{% block extrascripts %}


{% endblock %}
