{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

{# You may want to not print a flag/link for current view, the "if" here let you handle it #}

{#{% for locale in locales if locale != app.request.locale %}#}
{% for locale in locales %}

    <li>
        <a href="{{ path(route, params|merge({ _locale: locale })) }}">
            <img src="{{ asset('bundles/pizotearkadmin/img/flags/blank.gif') }}" class="flag flag-{{ locale }}" alt="" />
            <span>{{ locale }}</span>
            {#<img src="{{ asset('bundles/pizotearkadmin/img/flags/' ~ locale ~ '.jpg') }}" alt="{{ locale }}">#}
        </a>
    </li>

{% endfor %}