<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>
        {% set _block_title = block('title') %}
        {% if _block_title is not empty %}
          {% block title %}{% endblock %} |
        {% endif %}
        Backend

        </title>
        <meta name="description" content="">
        <meta name="author" content="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pizotearkadmin/css/bootstrap.min.css') }}"> 
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pizotearkadmin/css/font-awesome.css') }}">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/pizotearkadmin/css/ark.css') }}">


        <!-- FAVICONS -->
        <!-- <link rel="shortcut icon" href="{{ asset('bundles/wbcsmartadmin/img/favicon/favicon.ico') }}" type="image/x-icon"> -->
        <!-- <link rel="icon" href="{{ asset('bundles/wbcsmartadmin/img/favicon/favicon.ico') }}" type="image/x-icon"> -->

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        <!--================================================== -->

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script src="{{ asset('bundles/pizotearkadmin/js/pace/pace.min.js') }}"></script>

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <!--<script src="{{ asset('bundles/pizotearkadmin/js/jquery.min.js') }}"></script>-->
        <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="{{ asset('bundles/pizotearkadmin/js/jquery-ui.min.js') }}"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{{ asset('bundles/pizotearkadmin/js/bootstrap.min.js') }}"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="{{ asset('bundles/pizotearkadmin/js/notification/SmartNotification.min.js') }}"></script>

        <!-- JQUERY VALIDATE -->
        <script src="{{ asset('bundles/pizotearkadmin/js/jquery-validate/jquery.validate.min.js') }}"></script>
        {%  if app.request.getLocale() == "es" %}
            <script src="{{ asset('bundles/pizotearkadmin/js/jquery-validate/messages_es.js') }}"></script>
        {% else  %}
            <script src="{{ asset('bundles/pizotearkadmin/js/jquery-validate/messages_en.js') }}"></script>
        {% endif %}

        <!-- browser msie issue fix -->
        <script src="{{ asset('bundles/pizotearkadmin/js/msie-fix/jquery.mb.browser.min.js') }}"></script>

        <!-- MAIN APP JS FILE -->



    </head>
    <body id="login" class="animated fadeInDown bodyLogin">
        <!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
        <header id="header">
            <!--<span id="logo"></span>-->

            <div id="logo-group">
                
                <!-- END AJAX-DROPDOWN -->
            </div>


        </header>

        <div id="main" role="main">

            <!-- MAIN CONTENT -->
            <div id="content" class="container">


                <div class="row">

                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-warning"></i>
                            <strong>Warning</strong> {{ flashMessage|raw }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-check"></i>
                            <strong>Success</strong> {{ flashMessage|raw }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <div class="alert alert-info fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-info"></i>
                            <strong>Info!</strong> {{ flashMessage |raw }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-times"></i>
                            <strong>Info!</strong> {{ flashMessage|raw }}
                        </div>
                    {% endfor %}

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" style="position: relative;left: 35%">
                        <br><br><br>
                        <div class="well no-padding">

                            {% block fos_user_content %}
                            {% endblock %}

                        </div>                        
                        
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>