{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
    <li> <a href="{{ path('backend_admin_usernotification_index') }}">{{ 'label_menu.user_notification'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_usernotification_edit', { 'id': entity.id }) }}">{{ 'label_edit'|trans  }}</a> </li>

{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:UserNotification:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}