<link href="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/css/flags.css')  }}" rel="stylesheet" />
<script src="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/js/jquery.flagstrap.js') }}"></script>


<div class="header">
	<div class="container">
		<div class="row">
                    <div class="col-md-10">
                            <h3 class="header-title  no-margin">{{ 'label_register_create_company'|trans }}</h3>
                    </div>
                    <div class="col-md-2 text-right">
                            <h3 class="header-title-step no-margin" >{{ 'label_step'|trans }} 1/2</h3>
                    </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<blockquote>
					<div class="col-md-11">
						<p> {{ 'label_wizard_1'|trans }} </p>
					</div>
					<div class="col-md-1 text-right">
						<i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
					</div>
				</blockquote>
			</div>
		</div>

	</div>

</div>

<div class="container">
	<div class="form-inputs-g">
        <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/><br>
		{{ form_start(form) }}
		{{ form_errors(form) }}

		{#THE USER WHO CREATES THE BUSINESS #}
		{% if new is defined %}
			<input type="hidden" name="userID" value="{{ userID }}">
		{% endif %}

		<div id="checkEmailAlert" class="alert alert-warning" role="alert" style="display: none" >
			{{ 'label_business_check_email'|trans }}
		</div>
		<div id="checkPhoneAlert" class="alert alert-warning" role="alert" style="display: none" >
			{{ 'label_business_check_phone'|trans }}
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group ">
					<b>{{ 'label_business'|trans }}</b> {{ form_label(form.name) }}
					{{ form_errors(form.name) }}
					{{ form_widget(form.name, { 'attr': {'class' : 'form-control' } }
					) }}
				</div>
			</div>
			<div class="form-group col-md-2">
				<div class="form-group ">
					<label for="name">{{ 'label_phone_country_code'|trans }}</label>
					<div id="" class="flagstrap" data-input-name="phone_code" data-selected-country="GT"></div>
				</div>
			</div>
			<div class="form-group col-md-2">
				<div class="form-group ">
					{{ form_label(form.phoneNumber) }}
					{{ form_errors(form.phoneNumber) }}
					{{ form_widget(form.phoneNumber, { 'attr': {'class' : 'form-control' } }
					) }}
				</div>
			</div>
			<div class="form-group col-md-4">
				<div class="form-group ">
					{{ form_label(form.email) }}
					{{ form_errors(form.email) }}
					{{ form_widget(form.email, { 'attr': {'class' : 'form-control' } }
					) }}
				</div>
			</div>

		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<div class="form-group ">
					{{ form_label(form.address) }}
					{{ form_errors(form.address) }}
					{{ form_widget(form.address, { 'attr': {'class' : 'form-control' } }
					) }}
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<label for="name">{{ 'label_country'|trans }}</label>
					{% if edit is defined %}
						<div id="" class="flagstrap" data-input-name="business_country" data-selected-country="{{ entity.geoState.geoCountry.shortName }}"></div>
					{% else %}
						<div id="" class="flagstrap" data-input-name="business_country" data-selected-country="GT"></div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group ">

					{{ form_label(form.geoState) }}
					{{ form_errors(form.geoState) }}
					<div id="divGeoState">
						{{ form_widget(form.geoState, { 'attr': {'class' : 'form-control classic' } }) }}
					</div>

				</div>
			</div>
			<div class="col-md-4">
				{{ form_label(form.zipCode) }}
				{{ form_errors(form.zipCode) }}
				{{ form_widget(form.zipCode, { 'attr': {'class' : 'form-control' } }
				) }}
			</div>



		</div>
		<div class="clearfix"></div>


		<h2 class="header-title-step">{{ 'label_billing_information'|trans }}</h2>
		<div class="clearfix"></div>

		<div class="checkbox">
			<label>
				<input type="checkbox"  class="" id="copyBillingInfo" onclick=""><a target="" href="#">{{ 'label_billing_copy'|trans }}</a>
			</label>
		</div>



		<div class="clearfix"></div>

		<div class="row">
			<div id="billing_info">

				<div class="form-group col-md-4">
					<div class="form-group ">
						{{ form_label(form.billingAddress) }}
						{{ form_errors(form.billingAddress) }}
						{{ form_widget(form.billingAddress, { 'attr': {'class' : 'form-control' } }
						) }}
					</div>
				</div>
				<div class="col-md-2">

					<div class="form-group">
						<label for="name">{{ 'label_country'|trans }}</label>
						<div id="divBillingCountry">

							{% if edit is defined %}
								<div id="myFlagstrap"  class="flagstrap" data-input-name="business_billing_country" data-selected-country="{{ entity.billingGeoState.geoCountry.shortName }}"></div>

							{% else %}
								<div id="myFlagstrap"  class="flagstrap" data-input-name="business_billing_country" data-selected-country="GT"></div>
							{% endif %}

						</div>
					</div>

				</div>

				<div class="form-group col-md-2">
					<div class="form-group ">
						{{ form_label(form.billingGeoState) }}
						{{ form_errors(form.billingGeoState) }}
						<div id="divBillingGeoState">
							{{ form_widget(form.billingGeoState, { 'attr': {'class' : 'form-control' } }) }}
						</div>
					</div>

				</div>
				<div class="form-group col-md-4">
					<div class="form-group ">
					{{ form_label(form.billingZipCode) }}
					{{ form_errors(form.billingZipCode) }}
					{{ form_widget(form.billingZipCode, { 'attr': {'class' : 'form-control' } }
					) }}
					</div>
				</div>



			</div>
		</div>


		<div class="clearfix"></div>

		<div class="row">

			<div class="form-group col-md-6">
				{{ form_label(form.taxName) }}
				{{ form_errors(form.taxName) }}
				{{ form_widget(form.taxName, { 'attr': {'class' : 'form-control' } }
				) }}
			</div>
			<div class="form-group col-md-6">
				{{ form_label(form.taxIdentifier) }}
				{{ form_errors(form.taxIdentifier) }}
				{{ form_widget(form.taxIdentifier, { 'attr': {'class' : 'form-control' } }
				) }}
			</div>
		</div>


		<div class="hide">
			{{ form_rest(form) }}
		</div>
                <br>
                <div class="row">  
                    {% if edit is defined %}				                                                                   
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-primary btn-ps pull-right">{{ 'label_save'|trans }}</button>                                
                        <a  href="{{ path('backend_admin_homepage') }}" class="btn btn-primary button-cancel btn-ps pull-right">{{ 'label_cancel'|trans }}</a>                                                                                                    
                        <div class="clearfix"></div>
                    </div>                                                    
                    {% else %}

                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-primary btn-ps pull-right">{{ 'label_register_create_company_2'|trans }}</button>                                                                        
                        <div class="clearfix"></div>
                    </div>
                    {% endif %}		
                </div>		
            {{ form_end(form) }}

	</div>


</div>

<script type="text/javascript" language="Javascript">



	{% if edit is defined %}
	var myEntity = '{{ edit }}';
	{% else %}
	var myEntity = 0;
	{% endif %}

	function changeState(billing){


		if(billing){//==1 if it is a billing call
			myCountry = $('[name="business_billing_country"]').val();
			{% if edit is defined %}
			myState = {{ entity.billingGeoState.id }};
			{% endif %}

		}
		else{
			myCountry = $('[name="business_country"]').val();
			{% if edit is defined %}
			myState = {{ entity.geoState.id }};
			{% endif %}
		}


		$.ajax({
			type:"POST",
			dataType:"html",
			async:false,
			url:"{{ path('backend_admin_business_update_state') }}",
			//data:"countryShort="+myCountry,
			{% if edit is defined %}
			data: {countryShort: myCountry, billing: billing, selectedState: myState},
			{% else %}
			data: {countryShort: myCountry, billing: billing},
			{% endif %}
			success:function(data){
				if(billing){
					$("#divBillingGeoState").html(data);
				}
				else{
					$("#divGeoState").html(data);
				}

			}
		});

	}


	function checkEmail(){

		$.ajax({
			type:"POST",
			dataType:"json",
			url:"{{ path('backend_admin_business_check_email') }}",
			data: {email: $( "#business_email" ).val(), myEntity: myEntity},
			success:function(data){
				//console.log(data);
				if(data.result == 0){
					$("#checkEmailAlert").show();
					$( "#business_email" ).val("");
					$( "#business_email" ).focus();
				}

				if(data.result == 1){
					$("#checkEmailAlert").hide();
				}
			}
		});

	}

	function checkPhone(){

		$.ajax({
			type:"POST",
			dataType:"json",
			url:"{{ path('backend_admin_business_check_phone') }}",
			//data:"phone="+$( "#business_phoneNumber" ).val(),
			data: {phone: $( "#business_phoneNumber" ).val(), myEntity: myEntity},
			success:function(data){
				//console.log(data);
				if(data.result == 0){
					$("#checkPhoneAlert").show();
					$( "#business_phoneNumber" ).val("");
					$( "#business_phoneNumber" ).focus();
				}

				if(data.result == 1){
					$("#checkPhoneAlert").hide();
				}
			}
		});


	}



	$( document ).ready(function() {


		$('.flagstrap').flagStrap({

			placeholder: {
				value: "",
				text: ""
			},
			countries: {
				{% for country in countries %}
				"{{ country.shortName }}": "{{ country.name }} +{{ country.code }}",
				{% endfor %}
			},

		});


		$("[name='business']").validate({
			success: function(error){
				return true;
			},

		});

		$("#business_zipCode").rules("add", {required:true, digits:true, minlength: 5});
		$("#business_billingZipCode").rules("add", {required:true, digits:true, minlength: 4});

		$("#business_phoneNumber").rules("add", {required:true, digits:true, minlength: 8});
		$("#business_email").rules("add", {required:true, email:true});

		//$("#business_taxIdentifier").


		$('[name="business"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='business']").valid()){

				$('#pizote_spinner').show();
				myReturnEmail = false;
				myReturnPhone = false;

				$.ajax({
					type:"POST",
					dataType:"json",
					url:"{{ path('backend_admin_business_check_email') }}",
					data: {email: $( "#business_email" ).val(), myEntity: myEntity},
					async:false,
					success:function(data){
						//console.log(data);
						if(data.result == 0){
							$("#checkEmailAlert").show();
							$( "#business_email" ).val("");
							$( "#business_email" ).focus();
							$('#pizote_spinner').hide();
							myReturnEmail = false;
						}

						if(data.result == 1){
							$("#checkEmailAlert").hide();
							myReturnEmail = true;
						}
					}
				});
				/*
				checkEmail = checkEmail();
				if(checkEmail.result == 0){
					return false;
				}

				 */

				$.ajax({
					type:"POST",
					dataType:"json",
					url:"{{ path('backend_admin_business_check_phone') }}",
					//data:"phone="+$( "#business_phoneNumber" ).val(),
					data: {phone: $( "#business_phoneNumber" ).val(), myEntity: myEntity},
					async:false,
					success:function(data){
						//console.log(data);
						if(data.result == 0){
							$("#checkPhoneAlert").show();
							$( "#business_phoneNumber" ).val("");
							$( "#business_phoneNumber" ).focus();
							$('#pizote_spinner').hide();
							myReturnPhone = false;
						}

						if(data.result == 1){
							$("#checkPhoneAlert").hide();
							myReturnPhone = true;
						}
					}
				});

				/*
				checkPhone = checkPhone();
				if(checkPhone.result == 0){
					return false;
				}
				*/

				//$('#pizote_spinner').hide();
				if(myReturnEmail && myReturnPhone){
					return true;
				}
				else{
					return false;
				}


				//$('#pizote_spinner').show();
				//return true;

			}
			else{
				return false;
			}

		});

		$("#copyBillingInfo").change(function(){

			//alert($('[name="business_country"]').val());
			$('#pizote_spinner').show();

			if(this.checked){
				$("#business_billingAddress").val($("#business_address").val());
				$("#business_billingZipCode").val($("#business_zipCode").val());
				$("#divBillingCountry").html('<div id="myFlagstrap" class="flagstrap" data-input-name="business_billing_country" data-selected-country="'+$('[name="business_country"]').val()+'"></div>');

				$('#myFlagstrap').flagStrap({

					placeholder: {
						value: "",
						text: ""
					},
					countries: {
						{% for country in countries %}
						"{{ country.shortName }}": "{{ country.name }} +{{ country.code }}",
						{% endfor %}
					},

				});

				changeState(1);
				$("#business_billingGeoState").val($("#business_geoState").val());


			}
			else{
				$("#business_billingAddress").val("");
				$("#business_billingZipCode").val("");
				$("#divBillingCountry").html('<div id="myFlagstrap" class="flagstrap" data-input-name="business_billing_country" data-selected-country="GT"></div>');

				$('#myFlagstrap').flagStrap({

					placeholder: {
						value: "",
						text: ""
					},
					countries: {
						{% for country in countries %}
						"{{ country.shortName }}": "{{ country.name }} +{{ country.code }}",
						{% endfor %}
					},

				});

				changeState(1);

			}

			$('#pizote_spinner').hide();

		});

		$('#business_email').change(function(){
			checkEmail();
		});

		$('#business_phoneNumber').change(function(){
			checkPhone();
		});





		$('[name="business_country"]').change(function(){
			changeState(0);
		});

		$('[name="business_billing_country"]').change(function(){
			changeState(1);
		});

		changeState(0);
		changeState(1);

		//$('#pizote_spinner').show();

	});




</script>