{% extends 'BackendAdminBundle::layoutPlain.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="#">{{ 'label_menu.business'|trans  }}</a> </li>
    <li> <a href="#">{{ 'label_new'|trans  }}</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:Business:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}