{% extends "PizoteArkAdminBundle::security.html.twig" %}

{% block fos_user_content %}


{% block title %}
{{ parent() }}

{% endblock %}

		<div class="panel">

			<div class="panel-body">
				<form action="{{ path('my_fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
					<div class="form-group">
						<input class="form-control" id="username" name="username" required="required" placeholder="{{ 'label_email'|trans }}">
					</div>
					<button type="submit" class="btn btn-primary">{{ 'label_send'|trans }}</button>
					<br/>
					<br/>

					<div class="form-group text-center">
						{{ 'label_login_dont_have_pass'|trans }}&nbsp;&nbsp;<a href="{{ path('backend_admin_register_new') }}">{{ 'label_register'|trans }}</a>
					</div>

				</form>
	        </div>
	    </div>





{% endblock fos_user_content %}
