{% extends "PizoteArkAdminBundle::securityRegister.html.twig" %}

{% block title %}
    {{ parent() }}
    {{ 'label_register'|trans }}
{% endblock %}

{% block fos_user_content %}

    <style>

        .noPad{
            padding-left:0px!important;
            padding-right:0px!important;
        }
    </style>


    <link href="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/css/flags.css')  }}" rel="stylesheet" />
    <script src="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/js/jquery.flagstrap.js') }}"></script>


        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title text-center">{{ 'label_register_create_account'|trans }}</h3>
            </div>
            <div class="panel-body">
                <div class="form-inputs-g">
                <form action="{{path('backend_admin_register_create')}}"  method="POST" class="smart-form client-form" role="form" id="registerForm" name="registerForm">

                    <input type="hidden" name="submit" />
                    <div class="form-group text-center">
                        <input type="text" id="fos_user_registration_form_name" name="register[name]" required="required" maxlength="32" class="form-control" placeholder="{{ 'label_name'|trans }}">
                    </div>

                    <div class="form-group text-center">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'label_email'|trans  }}) }}
                    </div>

                    <div class="form-group text-center">

                        <div class="col-lg-12 noPad"  >

                            <div class="col-lg-6 noPad">
                                <div class="flagstrap" data-input-name="register[country]" data-selected-country="US"></div>
                            </div>
                            <div class="col-lg-6 noPad" style="float: right">
                                <input type="text" id="fos_user_registration_form_phone" name="register[phone]" required="required" maxlength="32" class="form-control" placeholder="{{ 'label_phone'|trans }}">
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label for="birthdate">{{ 'label_birthdate'|trans }}</label>
                        <input id="fos_user_registration_form_birthdate" name="register[birthdate]" type="date" class="form-control"/>

                        <section id="section_username">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        </section>

                    </div>

                    <div class="form-group">
                        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'label_login_password'|trans  }}) }}
                    </div>
                    <div class="form-group">
                        <input  type="password" id="register_password_retype" name="register[password_retype]" class="form-control" placeholder="{{ 'label_login_password_retype'|trans }}">
                    </div>


                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="register[conditions]" id="checkTerms" />&nbsp;<a data-toggle="modal" id="orange-button" data-target="#orange-modal" data-color="orange" href="#">{{ 'label_accept_terms'|trans }}</a>
                            </label>
                        </div>
                    </div>

                    <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition"></div>
                    <!-- Modal -->
                    <div class="modal fade" id="orange-modal" tabindex="-1" role="dialog" aria-labelledby="orange-modal-label" data-color="orange">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="orange-modal-title">{{ 'label_term_condition'|trans }}</h4>
                                </div>
                                <div class="modal-body">
                                    CONTENT
                                </div>

                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">{{ 'label_register'|trans }}</button>
                    <br/>
                    <br/>
                    <div class="form-group text-center">
                        {{ 'label_login_have_account'|trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'label_login_login'|trans }}</a>
                    </div>


                </form>
                </div>

            </div>
        </div>


    <script language="JavaScript" type="text/javascript" >



        $( document ).ready(function() {

            $('.flagstrap').flagStrap({

                placeholder: {
                    value: "",
                    text: ""
                },
                countries: {
                    {% for country in countries %}
                        "{{ country.shortName }}": "{{ country.shortName }} +{{ country.code }}",
                    {% endfor %}
                },

            });
            $("#section_username").hide();
            $("[name='registerForm']").validate({
                success: function(error){
                    setUsername();
                    return true;
                },

            });



            $("#register_password").rules("add", {required:true, minlength: 8});
            $("#register_password_retype").rules("add", {required:true, equalTo:"#register_password"});

            $("#checkTerms").rules("add", {required:true});

            //$("#fos_user_registration_form_school").rules("add", {required:true});
            //$("#fos_user_registration_form_grade").rules("add", {required:true});
            //$("#fos_user_registration_form_section").rules("add", {required:true});
            $("#fos_user_registration_form_birthdate").rules("add", {required:true});
            $("#fos_user_registration_form_phone").rules("add", {minlength: 8, digits:true});


            {#
                $(".classPicker").datepicker({
                       changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    //dateFormat: 'yyyy-mm-dd',
                    onClose: function(dateText, inst) {
                        $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay));
                    }
                });

            #}

        });


        function setUsername(){
            email = $("#fos_user_registration_form_email").val();
            $("#fos_user_registration_form_username").val(email);
        }

    </script>

    <script id="rendered-js">
        $('[id$="-button"]').on("click", function (e) {
            var color = $(this).attr('data-color');
            var colorBackdrop = 'modal-backdrop-' + color;
            // alert(color);
            $('#modal-backdrop').addClass(colorBackdrop);
        });
        $('.btn-close, .modal').on("click", function (e) {
            var color = $('.in').attr('data-color');
            var activeBackdrop = 'modal-backdrop-' + color;
            $('#modal-backdrop').removeClass(activeBackdrop);
        });
    </script>


    {% endblock fos_user_content %}

