{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
    <li> <a href="{{ path('backend_admin_property_transaction_type_index') }}">{{ 'label_menu.property_transaction_type'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_property_transaction_type_edit', { 'id': entity.id }) }}">{{ 'label_edit'|trans  }}</a> </li>

{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:PropertyTransactionType:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}