<style>
    .input-group {
        z-index: 0;
    }
</style>

<div class="container">
    <div class="row">	
        <header class="header">
            <h3 class="header-title">{{ 'label_form'|trans }}</h3>
            <hr class="punteada"/>
        </header>

        <!-- widget div-->
        <div role="content">
                <div class="widget-body">

                        <div class="form-inputs-g">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                <fieldset>

                                    <div class="form-group col-md-6 col-md-offset-3">
                                        {{ form_label(form.nameEN) }}
                                        {{ form_errors(form.nameEN) }}
                                        {{ form_widget(form.nameEN, { 'attr': {'class' : 'form-control' } }
                                        ) }}
                                    </div>


                                    <div class="form-group col-md-6 col-md-offset-3">
                                            {{ form_label(form.nameES) }}
                                            {{ form_errors(form.nameES) }}
                                            {{ form_widget(form.nameES, { 'attr': {'class' : 'form-control' } }
                                            ) }}
                                    </div>


                                    <div class="form-group col-md-6 col-md-offset-3">
                                            {{ form_label(form.descriptionEN) }}
                                            {{ form_errors(form.descriptionEN) }}
                                            {{ form_widget(form.descriptionEN, { 'attr': {'class' : 'form-control' } }
                                            ) }}
                                    </div>
                                    
                                    <div class="form-group col-md-6 col-md-offset-3">
                                            {{ form_label(form.descriptionES) }}
                                            {{ form_errors(form.descriptionES) }}
                                            {{ form_widget(form.descriptionES, { 'attr': {'class' : 'form-control' } }
                                            ) }}
                                    </div>

                                    <div class="hide">
                                        {{ form_rest(form) }}
                                    </div>

                                </fieldset>

                                <div class="form-group col-md-6 col-md-offset-3">
                                    <br>
                                    <button type="submit" class="btn btn-primary btn-ps pull-right">{{ 'label_save'|trans }}</button>
                                    <a  href="{{ path('backend_admin_notification_type_index') }}" class="btn btn-primary button-cancel btn-ps pull-right">{{ 'label_cancel'|trans }}</a>                                    
                                </div>

                        <!--</form>-->
                        {{ form_end(form) }}
                        </div>

                </div>
                <!-- end widget content -->

        </div>
        <!-- end widget div -->
		
    </div>
</div>
<script type="text/javascript" language="Javascript">

	$( document ).ready(function() {
            
                $('[name="notification_type"]').validate();
		$('[name="notification_type"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='notification_type']").valid()){
				$('#pizote_spinner').show();
				return true;

			}
			else{
				return false;
			}

		});

	});


</script>