<style>
    .input-group {
        z-index: 0;
    }
</style>

<div class="container">		

    <header geo_country="heading">
            <h3 class="header-title">{{ 'label_form'|trans }}</h3>
            <hr class="punteada"/>
    </header>

    <!-- widget div-->
    <div geo_country="content">

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body">

                    <div class="form-inputs-g">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <fieldset>



                            <div class="form-group col-md-6 col-md-offset-3">
                                {{ form_label(form.name) }}
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name, { 'attr': {'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group col-md-6 col-md-offset-3">
                                    {{ form_label(form.code) }}
                                    {{ form_errors(form.code) }}
                                    {{ form_widget(form.code, { 'attr': {'class' : 'form-control' } } ) }}
                            </div>                            
                            <div class="form-group col-md-6 col-md-offset-3">
                                    {{ form_label(form.shortName) }}
                                    {{ form_errors(form.shortName) }}
                                    {{ form_widget(form.shortName, { 'attr': {'class' : 'form-control' } } ) }}
                            </div>
                            <div class="form-group col-md-6 col-md-offset-3">
                                    {{ form_label(form.ibillingDomain) }}
                                    {{ form_errors(form.ibillingDomain) }}
                                    {{ form_widget(form.ibillingDomain, { 'attr': {'class' : 'form-control' } } ) }}
                            </div>                                    
                            <div class="form-group col-md-6 col-md-offset-3">
                                    {{ form_label(form.ibillingToken) }}
                                    {{ form_errors(form.ibillingToken) }}
                                    {{ form_widget(form.ibillingToken, { 'attr': {'class' : 'form-control' } }
                                    ) }}
                            </div>
                                    
                            <div class="form-group col-md-6 col-md-offset-3">
                                <div class="checkbox">
                                {{ form_label(form.enabled) }}
                                        {{ form_errors(form.enabled) }}
                                        {{ form_widget(form.enabled, { 'attr': {'class' : 'form-control' } }
                                        ) }}
                                </div>
                            </div>


                            <div class="hide">
                                {{ form_rest(form) }}
                            </div>

                        </fieldset>

                        <div class="form-group col-md-6 col-md-offset-3">
                            <br>
                            <button type="submit" class="btn btn-primary btn-ps pull-right">{{ 'label_save'|trans }}</button>                                    
                            <a  href="{{ path('backend_admin_geo_country_index') }}" class="btn btn-primary button-cancel btn-ps pull-right">{{ 'label_cancel'|trans }}</a>                            
                        </div>
                       
                        {{ form_end(form) }}
                    </div>

            </div>
            <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<script type="text/javascript" language="Javascript">

	$( document ).ready(function() {
                $('[name="geo_country"]').validate();
		$('[name="geo_country"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='geo_country']").valid()){
				$('#pizote_spinner').show();
				return true;

			}
			else{
				return false;
			}

		});

	});


</script>