{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
    <li> <a href="{{ path('backend_admin_complex_sector_index') }}">{{ 'label_menu.complex_sector'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_complex_sector_edit', { 'id': entity.id }) }}">{{ 'label_edit'|trans  }}</a> </li>

{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:ComplexSector:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}