<style>
    .input-group {
        z-index: 0;
    }
</style>
<div class="container">
    <div class="row">	
        <div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" style="" role="widget">
            <header class="header">
                <h3 class="header-title">{{ 'label_form'|trans }}</h3>
                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;">
            </header>

                <!-- widget div-->
                <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox"></div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">

                                <div class="form-inputs-g">
                                    {{ form_start(form) }}
                                    {{ form_errors(form) }}

                                        <fieldset>

                                            <div class="form-group col-md-6 col-md-offset-3">
                                                {{ form_label(form.name) }}
                                                {{ form_errors(form.name) }}
                                                {{ form_widget(form.name, { 'attr': {'class' : 'form-control' } }) }}
                                            </div>                                            
                                            <div class="form-group col-md-6 col-md-offset-3">
                                                {{ form_label(form.address) }}
                                                {{ form_errors(form.address) }}
                                                {{ form_widget(form.address, { 'attr': {'class' : 'form-control' } } ) }}
                                            </div>                                            
                                            <div class="form-group col-md-6 col-md-offset-3">
                                                {{ form_label(form.complex) }}
                                                {{ form_errors(form.complex) }}
                                                {{ form_widget(form.complex, { 'attr': {'class' : 'form-control classic' } } ) }}
                                            </div>                                       
                                            <div class="form-group col-md-6 col-md-offset-3">
                                                {{ form_label(form.complexSectorType) }}
                                                {{ form_errors(form.complexSectorType) }}
                                                {{ form_widget(form.complexSectorType, { 'attr': {'class' : 'form-control classic' } } ) }}
                                            </div>                                                

                                            <div class="row">
                                                {% if new is defined %}
                                                    <div class="col-md-4 form-group  col-md-offset-3">
                                                            <label for="name">{{ 'complex.properties.name'|trans }}</label>
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                        <select id="propertyType" name="extra[propertyType]" class="form-control classic">
                                                                {% for propertyType in propertyTypes %}
                                                                        <option value="{{ propertyType.id }}">{{ propertyType }}</option>
                                                                {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                        <input type="text" class="form-control" id="inputPropertyType" name="extra[propertyTypeName]" style="display: none" placeholder="{{ 'label_name'|trans }}">
                                                    </div>                                                                                                       
                                                    <div class="col-md-4 form-group col-md-offset-3">
                                                            <label for="propertyPrefix">{{ 'label_complex_sector_prefix'|trans }}</label>
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                            <input type="text" maxlength="6" id="propertyPrefix" name="extra[prefix]" class="form-control"/>
                                                    </div>
                                                    <div class="col-md-4 form-group col-md-offset-3">
                                                            <label for="name">{{ 'complex.properties.per_section'|trans }}</label>
                                                    </div>
                                                    <div class="col-md-2 form-group">
                                                            {#propertiesPerSection#}
                                                            {{ form_errors(form.propertiesPerSection) }}
                                                            {{ form_widget(form.propertiesPerSection, { 'attr': {'class' : 'form-control' } }
                                                            ) }}
                                                    </div>                                                    


                                                {% endif %}

                                            </div>

                                            <div class="hide">
                                                {{ form_rest(form) }}
                                            </div>

                                        </fieldset>
                                            <br><br>
                                        <div class="row">         
                                            <div class="form-group col-md-6 col-md-offset-3">
                                                <button type="submit" class="btn btn-primary btn-ps pull-right">{{ 'label_save'|trans }}</button>                                                                                                                
                                                <a  href="{{ path('backend_admin_complex_sector_index') }}" class="btn btn-primary button-cancel btn-ps pull-right">{{ 'label_cancel'|trans }}</a>                                                        
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>                            						
                                <!--</form>-->
                                {{ form_end(form) }}					
                                </div>
                        </div>
                        <!-- end widget content -->

                </div>
                <!-- end widget div -->

        </div>

        <div class="clearfix"></div>
</div>
</div>
<script type="text/javascript" language="Javascript">

	$( document ).ready(function() {

		//propertyType
		$('[name="complex_sector"]').validate();

		$("#propertyType").change(function(){
			myValue =$("#propertyType option:selected").attr('value');

			if(myValue == 0){
				$("#inputPropertyType").show();
				$("#inputPropertyType").rules("add", {required:true});
			}
			else{
				$("#inputPropertyType").hide();
				$("#inputPropertyType-error").hide();
				$("#inputPropertyType").rules("add", {required:false});
			}

		});

		$("#complex_sector_propertiesPerSection").rules("add", {required:true, digits:true, max: 99});
		/*
		$("#complex_sector_complexSectorType").change(function(){
			myValue =$("#complex_sector_complexSectorType option:selected").attr('value');

			if(myValue == 0){
				$("#inputSectionName").show();
				$("#inputSectionName").rules("add", {required:true});

			}
			else{
				$("#inputSectionName").hide();
				$("#inputSectionName-error").hide();
				$("#inputSectionName").rules("add", {required:false});
			}


		});

		 */



		$('[name="complex_sector"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='complex_sector']").valid()){
				$('#pizote_spinner').show();
				return true;

			}
			else{

				return false;
			}

		});

		{% if edit is defined %}
			$("#complex_sector_complex").val({{ entity.complex.id }});
		{% endif %}

	});


</script>