<script type="text/javascript">
    $("#pizote_spinner").show();
</script>
{# FLAGS #}
<link href="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/css/flags.css')  }}" rel="stylesheet" />
<script src="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/js/jquery.flagstrap.js') }}"></script>

{# SCHEDULE #}
<script src="{{ asset('bundles/pizotearkadmin/js/dws_jquery_schedule/dist/jquery.schedule.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/pizotearkadmin/js/dws_jquery_schedule/dist/jquery.schedule.min.css') }}">


<style>
    .input-group {
        z-index: 0;
    }
</style>

<div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

        <div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" style="" role="widget">

            <header role="heading">
                <h2>{{ 'label_form'|trans }}</h2>

            </header>

            <!-- widget div-->
            <div role="content">

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">

                    {#<form id="backend_adminbundle_complex" action="{{path('backend_admin_complex_create')}}" method="POST" name="backend_adminbundle_complex">#}
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <fieldset>


                        <div class="form-group col-md-6">
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, { 'attr': {'class' : 'form-control' } }
                            ) }}
                        </div>

                        <div class="form-group col-md-6">
                            {{ form_label(form.complexType) }}
                            {{ form_errors(form.complexType) }}
                            {{ form_widget(form.complexType, { 'attr': {'class' : 'form-control classic' } }
                            ) }}
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group col-md-4">
                            {{ form_label(form.address) }}
                            {{ form_errors(form.address) }}
                            {{ form_widget(form.address, { 'attr': {'class' : 'form-control' } }
                            ) }}
                        </div>

                        <div class="col-md-2"  >
                            <label for="name">{{ 'label_country'|trans }}</label>

                            <div id="" class="flagstrap" data-input-name="complex_country" data-selected-country="{{ entity.geoState.geoCountry.shortName }}"></div>

                        </div>

                        <div class="form-group col-md-2">
                            {{ form_label(form.geoState) }}
                            {{ form_errors(form.geoState) }}
                            <div id="divGeoState">
                                {{ form_widget(form.geoState, { 'attr': {'class' : 'form-control' } }) }}
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            {{ form_label(form.zipCode) }}
                            {{ form_errors(form.zipCode) }}
                            {{ form_widget(form.zipCode, { 'attr': {'class' : 'form-control' } }
                            ) }}
                        </div>

                        <div class="clearfix"></div>

                        <div class="clearfix"></div>
                        <div class="form-group col-md-3">
                            <div class="form-group ">
                                <label for="name">{{ 'label_country'|trans }}</label>
                                <div id="" class="flagstrap" data-input-name="phone_code" data-selected-country="{{ entity.phoneCountry.shortName }}"></div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            {{ form_label(form.phoneNumber) }}
                            {{ form_errors(form.phoneNumber) }}
                            {{ form_widget(form.phoneNumber, { 'attr': {'class' : 'form-control' } }
                            ) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { 'attr': {'class' : 'form-control' } }
                            ) }}
                        </div>

                        <div class="clearfix"></div>


                        <div class="hide">
                            {{ form_rest(form) }}
                        </div>

                    </fieldset>

                    <div class="form-actions">
                        {#<a href="{{ path('backend_admin_complex_index') }}" class="btn btn-default"> {{ 'label_cancel'|trans  }} </a>#}
                        <button class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            {{ 'label_save'|trans  }}
                        </button>
                    </div>

                    <div class="clearfix"></div>
                    {# SHIFTS #}
                    <h2 class="">{{ 'label_shift'|trans }}&nbsp;{{ 'label_common_area_schedule'|trans }}</h2>
                    <div class="clearfix"></div>
                    <br/>
                    <div class="row">
                        <div class="col">
                            <div id="shift_schedule" class="jqs-demo mb-3"></div>
                            <input type="hidden" id="my_schedule" name="my_schedule">
                        </div>
                    </div>

                    {# SHIFT MODAL USER SELECT #}
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:35px 50px;">
                                    {#<button type="button" id="modalClose" class="close" data-dismiss="modal">&times;</button>#}
                                    <h4 id="labelShiftUser">Select User</h4>
                                </div>
                                <div class="modal-body" style="padding:40px 50px;">

                                    <div class="form-group">
                                        <label  for="shiftUser"><span class="glyphicon glyphicon-user"></span> User</label>
                                        <select type="text" class="form-control classic" id="selectUser" >
                                            {% for key, cadmin in complexAdmins %}
                                                <option value="{{ key }}">{{ cadmin }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="button" onclick="setShiftUser();" class="btn btn-primary btn-block"><span class=""></span> {{ 'label_save'|trans  }}</button>

                                </div>
                                <div class="modal-footer">
                                    {#
                                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                                    <p>Not a member? <a href="#">Sign Up</a></p>
                                    <p>Forgot <a href="#">Password?</a></p>

                                    #}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                    <!--</form>-->
                    {{ form_end(form) }}

                    <div class="clearfix"></div>
                    <br/>
                    <h2>{{ 'label_menu.property'|trans }}</h2>

                    <table id="dt_table" class="table table-striped table-hover">
                        <tfoot class="dt_tfoot">
                        <tr>
                            <th>ID</th>
                            <th>{{ 'label_complex'|trans }}</th>
                            <th>{{ 'label_complex_sector'|trans }}</th>
                            <th>{{ 'label_name'|trans }}</th>
                            <th>{{ 'label_code'|trans }}</th>
                            <th>{{ 'label_owner'|trans }}</th>
                            <th>{{ 'label_tenant'|trans }}</th>

                            <th>&nbsp;</th>

                        </tr>
                        </tfoot>
                        <thead>
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>ID</th>
                            <th>{{ 'label_complex'|trans }}</th>
                            <th>{{ 'label_complex_sector'|trans }}</th>
                            <th>{{ 'label_name'|trans }}</th>
                            <th>{{ 'label_code'|trans }}</th>
                            <th>{{ 'label_owner'|trans }}</th>
                            <th>{{ 'label_tenant'|trans }}</th>

                            <th>{{ 'label_actions'|trans }}</th>
                        </tr>

                        </thead>
                        <tbody></tbody>

                    </table>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

        <div class="clearfix"></div>

    </article>
</div>

<script type="text/javascript" language="Javascript">


    var table;
    {% set myLocale = app.request.getLocale() %};

    var currentShiftID = "";

    //GET COMPLEX PROPERTIES
    function fetchData(){

        table  = $('#dt_table').DataTable({
            "columnDefs": [

                // These are the column name variables that will be sent to the server
                { "name": "id",   "targets": 0 },
                { "name": "complex",   "targets": 1 },
                { "name": "sector",   "targets": 2 },
                { "name": "name",   "targets": 3 },
                { "name": "code",   "targets": 4 },
                { "name": "owner",   "targets": 5 },
                { "name": "tenant",   "targets": 6 },
                { "name": "actions",  "targets": 7 },

            ],
            // Server-side parameters
            "processing": true,
            "serverSide": true,
            // Ajax call
            "ajax": {
                "url": "{{ path('property_list_datatables') }}",
                "type": "POST",
                //dataType: "html"
                "data": {complexID: '{{ entity.id }}'}
            },
            // Classic DataTables parameters
            "paging" : true,
            "info" : true,
            "searching": true,
            "pageLength": 10,
            "order": [[1, 'asc']],
            {% if myLocale == 'es' %}
            "language": {
                "url": "{{ asset('bundles/pizotearkadmin/js/plugin/datatables/dataTables.spanish.lang') }}"
            }
            {% else %}
            "language": {
                "infoFiltered": ""
            }
            {% endif %}



        });

    }

    $( document ).ready(function() {



        // Add a text input to each footer cell
        var pos = 1;
        $('#dt_table tfoot th').each( function () {
            var title = $(this).text();
            if(pos != 8){//columna Actions
                $(this).html( "<input id='input" + pos + "' type='text' class='form-control' style='font-family:Arial, FontAwesome; width:100%'/>" );
            }

            pos ++;
        });


        fetchData();

        // Apply the search
        pos = 1;
        table.columns().every( function () {
            var that = this;

            $("#input"+pos).on( 'keyup change', function () {
                if ( that.search() !== this.value )
                {
                    that.search( this.value ).draw();
                }
            });
            pos++;
        });


        ///////////////////////////////////////


        //alert($("#complexSectorType").val());

        $('.flagstrap').flagStrap({

            placeholder: {
                value: "",
                text: ""
            },
            countries: {
                {% for country in countries %}
                "{{ country.shortName }}": "{{ country.name }} +{{ country.code }}",
                {% endfor %}
            },

        });


        $("[name='complex']").validate({
            success: function(error){
                return true;
            },

        });
        $("#complex_zipCode").rules("add", {required:true, minlength: 5, digits:true});
        $("#complex_phoneNumber").rules("add", {required:true, minlength: 8, digits:true});
        $("#complex_email").rules("add", {required:true, email:true});


        $('[name="complex"]').on("submit", function(){
            //Code: Action (like ajax...)
            if($("[name='complex']").valid()){
                $('#pizote_spinner').show();

                $("#my_schedule").val($('#shift_schedule').jqs("export"));
                return true;

            }
            else{
                return false;
            }

        });



        $('[name="complex_country"]').change(function(){
            changeState(0);
        });


        changeState(0);

        //$('#shift_schedule').jqs();


        $('#shift_schedule').jqs({

            periodColors: [
                ['rgba(0, 0, 0, 0.5)', '#000', '#fff'],
                ['rgba(200, 0, 0, 0.5)', '#f00', '#000'],
                ['rgba(0, 200, 0, 0.5)', '#0f0', '#000'],
                ['rgba(0, 0, 200, 0.5)', '#00f', '#000']
            ],


            periodDuration: 60,
            periodOptions: false,
            periodTitle: '',
            //periodBackgroundColor: 'rgba(168, 205, 255, 0.6)',
            periodBorderColor: '#000',
            periodTextColor: '#fff',
            periodRemoveButton: 'Remove please !',
            periodTitlePlaceholder: 'A custom title',

            /*DAYS*/

            daysList: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday'
            ],
            /*FUNCTIONS*/
            onInit: function () {},
            onAddPeriod: function (period, jqs) {
                console.log(period);
                console.log(jqs);
                $("#myModal").modal({backdrop: 'static', keyboard: false});

                $("#labelShiftUser").html("{{ 'label_assign_shift'|trans }}&nbsp;" + period[0].innerText + "&nbsp;{{ 'label_shift_complex_admin'|trans }}");
                currentShiftID = period[0].id;

            },
            onRemovePeriod: function () {},
            onDuplicatePeriod: function () {},
            onClickPeriod: function () {
                console.log("click");
            }

        });


        {% if edit is defined %}
            {#SCHEDULE IMPORT #}
            $('#shift_schedule').jqs('import', {{ shiftSchedule|raw }});
            //$("#modalClose").click();
            $("#myModal").modal("hide");
        {% endif %}


        $("#pizote_spinner").hide();


    });


    function changeState(billing){

        myCountry = $('[name="complex_country"]').val();

        $("[name='complex']").validate();
        //propertiesPerSection
        $("[name='complex']").validate({
            success: function(error){
                $("#pizote_spinner").show();
                return true;
            },

        });

        $.ajax({
            type:"POST",
            dataType:"html",
            async:false,
            url:"{{ path('backend_admin_business_update_state') }}",
            //data:"countryShort="+myCountry,
            data: {countryShort: myCountry, billing: billing, selectedState: "{{ entity.geoState.id }}"},
            success:function(data){

                $("#divGeoState").html(data);

            }
        });

    }


    function setShiftUser(){

        myUser = $("#selectUser option:selected" ).text();
        $("#"+currentShiftID+" .jqs-period-container").prepend('<div class="jqs-period-title" style="height: 12px;">'+myUser+'</div>');
        //$("#modalClose").click();
        $("#myModal").modal("hide");

    }



</script>