
<form action="{{ path('backend_admin_complex_session') }}" method="POST" id="formComplexSelect">
    <div class="form-group col-xs-12 col-sm-6">        
        <label class="txt-blue-bold">{{ 'label_current_complex'|trans }}</label>        
        <select  class="form-control classic" id="selectComplex" name="selectComplex" onchange="changeComplex(this.value)">

            {% for key, complex in app.session.get('myComplexes') %}

                {% if complex ==  app.session.get('sessionComplex') %}
                    {% set selected = 'selected' %}
                {% else %}
                    {% set selected = '' %}
                {% endif %}
                <option {{ selected }} value="{{ complex }}">{{key}} </option>
            {% endfor  %}

        </select>
        <input type="hidden" name="myPath" value="{{ myPath }}">        
    </div>
</form>


<script type="text/javascript" language="JavaScript">

    function changeComplex(myComplex){
        $("#pizote_spinner").show();
        $("#formComplexSelect").submit();
    }
</script>
