{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
    <li> <a href="{{ path('backend_admin_common_area_reservation_index') }}">{{ 'label_menu.common_area_reservation'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_common_area_reservation_edit', { 'id': entity.id }) }}">{{ 'label_edit'|trans  }}</a> </li>

{% endblock %}

{% block body -%}
    {{ parent() }}

    {% set myLocale = app.request.getLocale() %}

    <div class="header">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <h3 class="header-title">{{ 'label_booking'|trans }} {{ entity.id }}</h3>
                    <h4><span style="font-size:14px;">{{ 'label_in'|trans }} {{ entity.property.complex }}</span> </h4>

                </div>

                {# if entity.commonAreaReservationStatus.id == 1 #}
                    <div class="col-md-2 text-right">
                        <a  href="{{ path('backend_admin_common_area_reservation_approve', {id: entity.id}) }}" class="btn btn-primary-blue" style="width:100%" >{{ 'label_booking_approve'|trans }}</a>

                    </div>
                    <div class="col-md-2">
                        <a href="{{ path('backend_admin_common_area_reservation_deny', {id: entity.id}) }}"  class="btn btn-primary" style="width:100%">{{ 'label_booking_reject'|trans }}</a></div>
                {# endif #}
            </div>

        </div>
    </div>

    <!-- CONTENT -->
    <div class="main-content no-bordertop">
        <div class="container">
            <div class="form-inputs-g">

                <br/>
                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

                <div class="row">
                    <div class="col-md-3">
                        <div class="col-md-4">
                            <p class="txt-blue-bold">{{ 'label_complex_sector'|trans }}: </p>
                        </div>
                        <div class="col-md-8">
                            <span>{{ entity.property.complexSector.name }}</span>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="col-md-7">
                            <p class="txt-blue-bold">{{ 'label_property_number'|trans }}: </p>
                        </div>
                        <div class="col-md-5">
                            <span>{{ entity.property.propertyNumber }}</span>
                        </div>

                    </div>


                    <div class="col-md-3">
                        <div class="col-md-5">
                            <p class="txt-blue-bold">{{ 'label_common_area'|trans }}: </p>
                        </div>
                        <div class="col-md-7">
                            <span>{{ entity.commonArea.name }}</span>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="col-md-5">
                            <p class="txt-blue-bold text-left">{{ 'label_status'|trans }}: </p>
                        </div>
                        <div class="col-md-7">
                            <span>{{ entity.commonAreaReservationStatus }}</span>
                        </div>

                    </div>

                </div>




                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>


                <div class="row">
                    <div class="col-md-12 bg-corner">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="txt-blue-bold">{{ 'label_user'|trans }}: </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ entity.reservedBy.name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="txt-blue-bold">{{ 'label_event_date'|trans }}: </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ entity.reservationDateFrom|date("m/d/Y h:i") }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ entity.reservationDateTo|date("m/d/Y h:i") }}</p>
                                    </div>
                                </div>
                                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="txt-blue-bold">{{ 'label_updated_by'|trans }}:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ entity.updatedBy.name }}</p>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="txt-blue-bold">{{ 'label_updated_at'|trans }}:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ entity.updatedAt|date("m/d/Y") }}</p>
                                    </div>
                                </div>
                            </div>

                            {% if payment is not null %}
                                <form id="paymentform" name="paymentForm" method="POST" action="{{ path('backend_admin_common_area_reservation_update_payment') }}">
                                    <input type="hidden" name="payment_id" value="{{ payment.id }}" >
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="txt-blue-bold">{{ 'label_cost'|trans }}: </p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="hidden" name="cost" id="cost" class="form-control" value="{{ payment.paymentAmount|number_format(2, '.', '') }}">
                                                <p>{{ payment.paymentAmount|number_format(2, '.', '') }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="txt-blue-bold">{{ 'label_discount'|trans }}: </p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text"name="discount" id="discount" class="form-control" value="{{ payment.discount|number_format(2, '.', '') }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p class="txt-blue-bold">{{ 'label_amount_paid'|trans }}:</p>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="amount_paid" id="amount_paid" class="form-control" value="{{ payment.paidAmount|number_format(2, '.', '') }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">

                                            </div>
                                            <div class="col-md-6">
                                                <button style="background-color:black; color:#FFF;"  type="submit" class="btn btn-primary">{{ 'label_update_payment'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}

                        </div>

                    </div>
                </div>
                <br>

                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-notifications">{{ 'label_notifications'|trans }}</a></li>
                        <li><a href="#tabs-log">{{ 'label_log'|trans }}</a></li>
                    </ul>

                    <div id="tabs-notifications">
                        <div class="text-messages">

                            {% set color = "color2" %}
                            {% for comment in bookingComments %}

                                <div class="row {{ color }}">
                                    <div class="col-md-12">
                                        <div class="col-md-6 text-left">
                                            <p class="txt-blue-bold">{{ comment.createdBy.name }}</p>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            {% if comment.commonAreaReservation.commonArea.complex.geoState.timezoneName is not null %}
                                                {% set timezone =  comment.commonAreaReservation.commonArea.complex.geoState.timezoneName %}
                                            {% else %}
                                                {% set timezone = 'America/New_York' %}
                                            {% endif %}
                                            <p class="txt-blue-time">{{ comment.createdAt|date("m/d/Y H:i:s", timezone) }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>{{ comment.commentDescription }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% if color == "color2" %}
                                    {% set color = "color1" %}
                                {% else %}
                                    {% set color = "color2" %}
                                {% endif %}

                            {% endfor %}
                            <!-- end -->
                            <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

                            <form name="commentBookingForm" id="commentBookingForm" action="{{ path('backend_admin_common_area_reservation_comment', { id: entity.id}) }}" method="POST" onsubmit="$('#pizote_spinner').show()">
                                <div class="row {{ color }}">

                                    <div class="col-md-12">
                                        <p class="txt-blue-bold">{{ 'label_reply'|trans }}</p>
                                        <div class="form-group">

                                            <textarea class="form-control" id="comment" name="comment" rows="6"></textarea>
                                        </div>

                                        <!-- Button  -->
                                        <div class="row">
                                            <div class="col-md-10">
                                            </div>
                                            <div class="col-md-2">
                                                <button type="submit" class="btn btn-primary">{{ 'label_reply'|trans }}</button>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end -->
                            </form>                            
                            
                        </div>

                    </div>
                    <div id="tabs-log">
                        <br/>

                        <table id="log_table" class="table table-striped  table-hover fulltable">
                            <tfoot class="dt_tfoot">
                                <tr>

                                    <th>{{ 'label_date'|trans }}</th>
                                    <th>&nbsp;{{ 'label_description'|trans }}</th>
                                    <th>{{ 'label_user'|trans }}</th>
                                    <th>{{ 'label_status'|trans }}</th>

                                </tr>
                            </tfoot>
                            <thead>
                                <tr>
                                    <th>{{ 'label_date'|trans }}</th>
                                    <th>&nbsp;{{ 'label_description'|trans }}</th>
                                    <th>{{ 'label_user'|trans }}</th>
                                    <th>{{ 'label_status'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- END: CONTENT -->

    <script type="text/javascript">

        $(document).ready(function() {



            $(function () {
                $("#tabs").tabs();
            });


            $("#paymentform").validate();


            $("#cost").rules("add", {required:true, number: true});
            $("#discount").rules("add", {required:true, number: true});
            $("#amount_paid").rules("add", {required:true, number: true});



            var logTable;


            function fetchLog(){

                logTable  = $('#log_table').DataTable({
                    "columnDefs": [

                        // These are the column name variables that will be sent to the server
                        { "name": "date",   "targets": 0 },
                        { "name": "description",   "targets": 1 },
                        { "name": "user",   "targets": 2 },
                        { "name": "status",   "targets": 3 },

                    ],
                    // Server-side parameters
                    "processing": true,
                    "serverSide": true,
                    // Ajax call
                    "ajax": {
                        "url": "{{ path('common_area_reservation_list_log', {reservation: entity.id}) }}",
                        "type": "POST",
                        //dataType: "html"
                    },
                    // Classic DataTables parameters
                    "paging" : true,
                    "info" : true,
                    "searching": true,
                    "pageLength": 10,
                    "order": [[0, 'desc']],
                    {% if myLocale == 'es' %}
                    "language": {
                        "url": "{{ asset('bundles/pizotearkadmin/js/plugin/datatables/dataTables.spanish.lang') }}"
                    },
                    {% else %}
                    "language": {
                        "infoFiltered": ""
                    },
                    {% endif %}



                });

            }

            //### LOG ###
            // Add a text input to each footer cell
            var pos = 1;
            $('#log_table tfoot th').each( function () {
                var title = $(this).text();

                $(this).html( "<input id='log_input" + pos + "' type='text' class='form-control' style='font-family:Arial, FontAwesome; width:50%'/>" );

                pos ++;
            });


            fetchLog();

            // Apply the search
            pos = 1;
            logTable.columns().every( function () {
                var that = this;

                $("#log_input"+pos).on( 'keyup change', function () {
                    if ( that.search() !== this.value )
                    {
                        that.search( this.value ).draw();
                    }
                });
                pos++;
            });


            $("#log_input2").remove();
            $("#log_input4").remove();


        });




        $('[name="paymentForm"]').on("submit", function(){
            //Code: Action (like ajax...)
            total = parseFloat($("#cost").val()) - ( parseFloat($("#discount").val()) + parseFloat($("#amount_paid").val()) );

            if(total > 0 ){
                alert("{{ 'label_cancel_total'|trans }}");
                $("#amount_paid").focus();
                return false;

            }


            if($("[name='paymentForm']").valid()){
                $('#pizote_spinner').show();
                return true;
            }
            else{
                return false;
            }

        });

    </script>



{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}