

    <div class="container">

        <div class="header">

            <div class="row">
                <div class="col-md-6">
                    <h3 class="header-title">{{ 'label_new'|trans }} {{ 'label_booking'|trans }}</h3>
                </div>

                {{ include('BackendAdminBundle:Complex:sessionComplex.html.twig') }}
            </div>
        </div>

        <!-- CONTENT -->
        <div class="main-content no-bordertop">

                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>



                <div class="form-inputs-g">


                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-3">
                                <p class="txt-blue-bold">{{ 'label_complex_sector'|trans }}: </p>
                            </div>
                            <div class="col-md-9">
                                <select  class="form-control classic" id="exampleFormControlSelect1">
                                    <option>All</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="col-md-5">
                                <p class="txt-blue-bold">{{ 'label_property_number'|trans }}: </p>
                            </div>
                            <div class="col-md-7">
                                <select  class="form-control classic" id="exampleFormControlSelect1">
                                    <option>All</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>


                        <div class="col-md-4">
                            <div class="col-md-4">
                                <p class="txt-blue-bold">{{ 'label_common_area'|trans }}: </p>
                            </div>
                            <div class="col-md-8">
                                <select  class="form-control classic" id="exampleFormControlSelect1">
                                    <option>Electricity</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>

                    </div>


                    <!-- adress -->
                    <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <p class="txt-blue-bold">{{ 'label_event_date'|trans }}: </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" placeholder="12/12/19">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <p class="txt-blue-bold">{{ 'label_time'|trans }}: </p>
                                </div>
                                <div class="col-md-7">
                                    <label class="radio-inline"><input type="radio" name="optradio" checked>9:00 am - 11:00am</label>
                                    <br/>
                                    <label class="radio-inline"><input type="radio" name="optradio" checked>9:00 am - 11:00am</label>
                                    <br/>
                                    <label class="radio-inline"><input type="radio" name="optradio" checked>9:00 am - 11:00am</label>
                                    <br/>
                                    <label class="radio-inline"><input type="radio" name="optradio" checked>9:00 am - 11:00am</label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="txt-blue-bold text-left">{{ 'label_cost'|trans }}: </p>
                                </div>
                                <div class="col-md-7 text-right">
                                    <input type="text" class="form-control" placeholder="$ 10.00">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <p class="txt-blue-bold text-leftt">{{ 'label_discount'|trans }}: </p>
                                </div>
                                <div class="col-md-7 text-right">
                                    <input type="text" class="form-control" placeholder="$ 10.00">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <p class="txt-blue-bold text-left">{{ 'label_amount_paid'|trans }}: </p>
                                </div>
                                <div class="col-md-7 text-right">
                                    <input type="text" class="form-control" placeholder="$ 10.00">
                                </div>
                            </div>
                        </div>
                    </div>






                    <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>



                    <div class="row color1">

                        <div class="col-md-12">
                            <p class="txt-blue-bold">{{ 'label_send_notification'|trans }}</p>
                            <div class="form-group">

                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="6"></textarea>
                            </div>


                            <!-- Button  -->
                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary">{{ 'label_send_notification'|trans }}</button>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">{{ 'label_save'|trans }}</button>
                        </div>
                    </div>


                </div>


        </div>
    <!-- END: CONTENT -->
    </div>
