<style>
    .input-group {
        z-index: 0;
    }

	.foo {
		float: left;
		width: 20px;
		height: 20px;
		margin: 5px;
		border: 1px solid rgba(0, 0, 0, .2);
	}

	.blue {
		background: #000000;
	}
</style>

{#https://rachel-carvalho.github.io/simple-color-picker/#}
<link href="{{ asset('bundles/pizotearkadmin/js/simple-color-picker-master/jquery.simple-color-picker.css')  }}" rel="stylesheet" type="text/css" media="screen" />
<script src="{{ asset('bundles/pizotearkadmin/js/simple-color-picker-master/jquery.simple-color-picker.js')  }}"></script>


<div class="row">
	<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

		<div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" style="" role="widget">

			<header role="heading">
				<h2>{{ 'label_form'|trans }}</h2>
			</header>

			<!-- widget div-->
			<div role="content">

				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->

				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">

					<div class="form-inputs-g">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

						<fieldset>

                        <div class="form-group col-md-6">
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, { 'attr': {'class' : 'form-control' } }
                            ) }}
                        </div>
						<div class="form-group col-md-6">
							<label for="color" class="required" aria-required="true">Color</label><br/>
							{% if edit is defined %}
								<input value="{{ entity.color }}" name="ticket_category[color]" id="myColorPicker" onchange="changeColor()" readonly/>
							{% else %}
								<input name="ticket_category[color]" id="myColorPicker" onchange="changeColor()" readonly/>
							{% endif %}

							<div id="myColor" class="foo blue"></div>
						</div>

						<div class="clearfix"></div>


						<div class="form-group col-md-6">
							{{ form_label(form.description) }}
							{{ form_errors(form.description) }}
							{{ form_widget(form.description, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-md-6">
							{{ form_label(form.complex) }}
							{{ form_errors(form.complex) }}
							{{ form_widget(form.complex, { 'attr': {'class' : 'form-control classic' } }
							) }}
						</div>
							<div class="hide">
                            {{ form_rest(form) }}
                        </div>

						</fieldset>

						<div class="form-actions">

							<button type="submit" class="btn btn-primary">
								<i class="fa fa-save"></i>
								{{ 'label_save'|trans  }}
							</button>
						</div>

					<!--</form>-->
					{{ form_end(form) }}
					</div>

				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget div -->

		</div>

		<div class="clearfix"></div>

	</article>
</div>

<script type="text/javascript" language="Javascript">

	$( document ).ready(function() {


		$('#myColorPicker').simpleColorPicker({ onChangeColor: function(color) { $('#myColor').css("background-color",color); } });

		$('[name="ticket_category"]').validate();

		$('[name="ticket_category"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='ticket_category']").valid()){
				$('#pizote_spinner').show();
				return true;

			}
			else{

				return false;
			}

		});

		{% if edit is defined %}
			$('#myColor').css("background-color", $("#myColorPicker").val());
			$("#ticket_category_complex").val({{ entity.complex.id }});

		{% endif %}



	});





</script>