{# DROPZONE FILE UPLOADER#}
<script src="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.css') }}">

{#RATING#}
<script src="{{ asset('bundles/pizotearkadmin/js/starrr-gh-pages/dist/starrr.js')  }}"></script>
<link href="{{ asset('bundles/pizotearkadmin/js/starrr-gh-pages/dist/starrr.css')  }}" rel="stylesheet" />

<style>
    .dz-error-message{
    margin-top: 20px !important;
    }
</style>

<section class="content">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h3 class="header-title">{{ 'label_ticket'|trans }} {{ entity.id }}</h3>
                </div>
                <div class="col-md-2 text-left">
                    <p style="margin-top:15px">{{ 'label_in'|trans }} {{ entity.complex }}</p>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    {#
                    <div class="alert-condo-edit" role="alert">
                        Notification
                    </div>
                    #}
                </div>
            </div>
            <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="main-content no-bordertop">

        <div class="container">

                <div class="form-inputs-g">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-4">
                                <p class="txt-blue-bold">{{ 'label_complex_sector'|trans }}: </p>
                            </div>
                            <div class="col-md-8">
                                <span>{{ entity.complexSector.name }}</span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-7">
                                <p class="txt-blue-bold">{{ 'label_property_number'|trans }}: </p>
                            </div>
                            <div class="col-md-5">
                                <span>{{ entity.property.propertyNumber }}</span>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="col-md-7">
                                <p class="txt-blue-bold">{{ 'label_is_public'|trans }}: </p>
                            </div>
                            <div class="col-md-5 text-left">
                                {% if app.request.getLocale() == 'en' %}
                                    <span>{{ entity.isPublic ? 'Yes' : 'No' }}</span>
                                {% else %}
                                    <span>{{ entity.isPublic ? 'Si' : 'No' }}</span>
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-7">
                                <p class="txt-blue-bold">{{ 'label_status'|trans }}: </p>
                            </div>
                            <div class="col-md-5 text-left">
                                <span>{{ entity.ticketStatus }}</span>
                            </div>
                        </div>

                    </div>

                    <!-- adress -->

                    <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>


                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="txt-blue-bold">{{ 'label_description'|trans }}: </p>

                                </div>
                                <div class="col-md-8">
                                    <p class="txt-blue-light">{{ entity.description }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="txt-blue-bold">{{ 'label_solution'|trans }}: </p>

                                </div>
                                <div class="col-md-8">
                                    <p class="txt-blue-light">{{ entity.possibleSolution }}</p>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-5">


                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">

                                    <div class="bg-rate text-center">

                                        <h2 class="txt-blue-bold">{{ 'label_rate_your'|trans }} {{ 'label_tenant'|trans }}</h2>

                                        <div class='starrr'></div>
                                        <br/>
                                        <form name="closeTicketForm" id="closeTicketForm" action="{{  path('backend_admin_ticket_close', { id: entity.id}) }}" method="POST" onsubmit="$('#pizote_spinner').show()">
                                            <button style="width: 60%; margin-top: 10px" type="submit" class="btn btn-primary">{{ 'label_solve'|trans }} {{ 'label_ticket'|trans }}</button>
                                        </form>

                                    </div>


                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                    <br/>

                    <form id="ticket" name="ticket" action="{{ path('backend_admin_ticket_update', {'id': entity.id}) }}">
                        <h3>{{ 'label_photo'|trans }} </h3>
                        <h2>{{ 'label_max_files'|trans }} </h2>
                        <div class="dropzone my-dropzone" id="form_snippet_image"  action="{{path('ticket_ajax_snippet_image_send')}}">

                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="mySubmit" class="btn btn-primary">{{ 'label_save'|trans }}</button>
                            </div>
                            <div class="col-md-2">
                                <a  href="{{ path('backend_admin_ticket_index') }}" class="btn btn-primary button-cancel">{{ 'label_cancel'|trans }}</a>
                            </div>
                        </div>
                    </form>



                    <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color:#03304a; font-size:24px;" class="txt-blue-bold text-left">{{ 'label_messages'|trans }} </h3>
                        </div>
                    </div>

                    <div class="text-messages">
                        {% set color = "color2" %}
                        {% for comment in ticketComments %}

                            <div class="row {{ color }}">
                                <div class="col-md-12">
                                    <div class="col-md-6 text-left">
                                        <p class="txt-blue-bold">{{ comment.createdBy.name }}</p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        {% if comment.ticket.complex.geoState.timezoneName is not null %}
                                            {% set timezone =  comment.ticket.complex.geoState.timezoneName %}
                                        {% else %}
                                            {% set timezone = 'America/New_York' %}
                                        {% endif %}
                                        <p class="txt-blue-time">{{ comment.createdAt|date("m/d/Y H:i:s", timezone) }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{ comment.commentDescription }}</p>
                                    </div>
                                </div>
                            </div>
                            {% if color == "color2" %}
                                {% set color = "color1" %}
                            {% else %}
                                {% set color = "color2" %}
                            {% endif %}

                        {% endfor %}

                        <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

                        <form name="commentTicketForm" id="commentTicketForm" action="{{ path('backend_admin_ticket_comment', { id: entity.id}) }}" method="POST" onsubmit="$('#pizote_spinner').show()">
                            <div class="row {{ color }}">

                                <div class="col-md-12">
                                    <p class="txt-blue-bold">{{ 'label_reply'|trans }}</p>
                                    <div class="form-group">

                                        <textarea class="form-control" id="comment" name="comment" rows="6"></textarea>
                                    </div>

                                    <!-- Button  -->
                                    <div class="row">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-primary">{{ 'label_reply'|trans }}</button>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end -->
                        </form>
                    </div>
                </div>
        </div>
        <!-- END: CONTENT -->
    </div>
</section>

<script type="text/javascript" language="Javascript">

    $( document ).ready(function() {

        {% set myPath =  url('backend_admin_homepage')~"/uploads/images/tickets/" %}
        {% set myPath = myPath|replace({'app_dev.php': ''}) %}
        {% set myPath = myPath|replace({'/en/': ''}) %}
        {% set myPath = myPath|replace({'/es/': ''}) %}
        
        {% set myToken = entity.token %}

        ////DROPZONE
        var countFiles = 0;
        var uploadedFiles = 0;

        var _actionToDropZone = $("#form_snippet_image").attr('action');
        Dropzone.autoDiscover = false;
        //$(".dz-hidden-input").prop("disabled",false);

        var myDropzone = new Dropzone("#form_snippet_image", {
            url: _actionToDropZone,
            params: {
                ticket: '{{ myToken }}'
            },
            maxFilesize: 5, // MB
            maxFiles: 5,
            addRemoveLinks: true,
            createImageThumbnails: true,
            acceptedFiles: ".png,.jpg,.jpeg",
            thumbnailWidth: 250,
            thumbnailHeight: 250,
            autoProcessQueue: false,
            parallelUploads: 5,
            uploadMultiple: false,
            success: function(file, response){
                //console.log(response.success);
                file.id = response.success;
                //return true;
                //alert("finish");

            },


            init: function() {
                thisDropzone = this;

                // First change the button to actually tell Dropzone to process the queue.
                document.getElementById("mySubmit").addEventListener("click", function(e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
                    thisDropzone.processQueue();
                });



                $.get("{{path('ticket_ajax_snippet_image_get')}}",{ticket: '{{ entity.id }}' }, function(data) {

                    $.each(data, function(key,value){

                        //var mockFile = { name: value.name, size: value.size };
                        var mockFile = { name: value.name, size: "", id: value.id };

                        thisDropzone.options.addedfile.call(thisDropzone, mockFile);
                        thisDropzone.options.thumbnail.call(thisDropzone, mockFile, '{{ myPath }}'+value.name);

                        //console.log('{{ myPath }}'+value.name);
                        thisDropzone.emit("complete", mockFile);

                        //on click opens a new tab with the image
                        var src = '{{ myPath }}'+value.name;
                        mockFile.previewElement.addEventListener("click", function() {
                            var win = window.open(src, '_blank');
                            win.focus();
                        });

                        countFiles++;
                        if(countFiles >= 5){
                            myDropzone.disable();
                        }

                    });

                    //$(".dz-hidden-input").prop("disabled",true);

                });

                {#
                this.on("maxfilesexceeded", function(file){
                    alert("{{ 'label_no_more_files'|trans }}");
                    //this.removeFile(file);
                    //countFiles--;
                    myDropzone.disable();


                });

                #}

                this.on('removedfile', function (file) {

                    //console.log(file);
                    //$('#pizote_spinner').show();
                    countFiles--;
                    uploadedFiles--;
                    {% if edit is defined %}
                    $.ajax({
                        type: 'POST',
                        url: "{{path('ticket_ajax_snippet_image_remove')}}",
                        //data: {id: file.name, _token: $('#csrf-token').val()},
                        data: {id: file.id, name: file.name},
                        dataType: 'html',
                        success: function (data) {
                            var rep = JSON.parse(data);

                            if(countFiles < 5){
                                myDropzone.enable();
                            }
                            //$('#pizote_spinner').hide();
                        }

                    })
                    {% else %}

                    if(countFiles < 5){
                        myDropzone.enable();
                    }
                    {% endif %}

                });

                this.on("addedfile", function(file) {
                    countFiles++;

                    if(countFiles > 5){

                        alert("{{ 'label_no_more_files'|trans }}");
                        myDropzone.disable();

                        $("[name='ticket']").submit(function(e){
                            //e.preventDefault();
                            $('#pizote_spinner').hide();
                        });
                    }
                });

                this.on("totaluploadprogress", function(totalPercentage, totalBytesSent){

                    if(totalPercentage >= 100 && totalBytesSent) {

                        $('#pizote_spinner').show();
                        $("[name='ticket']").submit();

                    }
                });

            }

        });        


        myUrl = "{{ path('backend_admin_ticket_rating_tenant', {id: entity.id}) }}";


        $('.starrr').starrr({
            {% if entity.ratingToTenant is not null %}
                rating: {{ entity.ratingToTenant }},
            {% endif %}

            change: function(e, value){
                //alert('new rating is ' + value)
                $("#pizote_spinner").show();
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    url: myUrl,
                    data:"rating="+value,
                    success:function(data){

                        $("#pizote_spinner").hide();

                    }
                });

            }
        })

    });

</script>