{# DROPZONE FILE UPLOADER#}
<script src="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.css') }}">

<section class="content">

	<div class="header">
		<div class="container">


			<div class="row">
				<div class="col-md-6">
					<h3 class="header-title">{{ 'label_new'|trans }} {{ 'label_menu.ticket'|trans }}</h3>
				</div>

				{{ include('BackendAdminBundle:Complex:sessionComplex.html.twig') }}
			</div>
			<div class="row">
				<div class="col-md-12">
					<blockquote>
						<div class="col-md-11">
							<p> {{ 'label_ticket_new_advice'|trans }}  </p>
						</div>
						<div class="col-md-1 text-right">
							<i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
						</div>
					</blockquote>
				</div>
			</div>


		</div>
	</div>

	<!-- CONTENT -->
	<div class="main-content no-bordertop">



		<div class="container">


			<div class="form-inputs-g">


				<div class="row">
					<div class="col-md-4">
						<div class="col-md-3">
							<p class="txt-blue-bold">{{ 'label_complex_sector'|trans }}: </p>
						</div>
						<div class="col-md-9">
							<select  class="form-control classic" id="exampleFormControlSelect1">
								<option>All</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>

					</div>

					<div class="col-md-4">
						<div class="col-md-5">
							<p class="txt-blue-bold">{{ 'label_property_number'|trans }}: </p>
						</div>
						<div class="col-md-7">
							<select  class="form-control classic" id="exampleFormControlSelect1">
								<option>All</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>

					</div>


					<div class="col-md-4">
						<div class="col-md-4">
							<p class="txt-blue-bold">{{ 'label_category'|trans }}: </p>
						</div>
						<div class="col-md-8">
							<select  class="form-control classic" id="exampleFormControlSelect1">
								<option>Electricity</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>

					</div>

				</div>

				<br/>
				<!-- adress -->

				<div class="row">
					<div class="col-md-1">
						<p class="txt-blue-bold">{{ 'label_title'|trans }}: </p>
					</div>
					<div class="col-md-11">
						<input type="text" class="form-control" placeholder="example@example.com">

					</div>
				</div>

				<div class="row">
					<div class="col-md-1">
						<p class="txt-blue-bold">{{ 'label_description'|trans }}: </p>
					</div>
					<br/>
					<div class="col-md-11">
						<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="7"></textarea>

					</div>
				</div>

				<br/>

				<div class="clearfix"></div>
				<br/>


				<h3>{{ 'label_photo'|trans }} </h3>
				<h2>{{ 'label_max_files'|trans }} </h2>
				<div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('common_area_ajax_snippet_image_send')}}">
				</div>
				<br/><br/>


				<div class="row">
					<div class="col-md-1">
						<p class="txt-blue-bold">{{ 'label_solution'|trans }}: </p>
					</div>
					<div class="col-md-11">
						<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="7"></textarea>

					</div>
				</div>


				<br/>
				<div class="row">
					<div class="col-md-9">
					</div>
					<div class="col-md-3">
						<button type="submit" class="btn btn-primary">{{ 'label_save'|trans }}</button>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- END: CONTENT -->
</section>

<script type="text/javascript" language="JavaScript">

	$( document ).ready(function() {


		{% set myPath =  url('backend_admin_homepage')~"/uploads/images/tickets/" %}
		{% set myPath = myPath|replace({'app_dev.php': ''}) %}
		{% set myPath = myPath|replace({'/en/': ''}) %}
		{% set myPath = myPath|replace({'/es/': ''}) %}



		////DROPZONE
		var countFiles = 0;
		var _actionToDropZone = $("#form_snippet_image").attr('action');
		Dropzone.autoDiscover = false;
		//$(".dz-hidden-input").prop("disabled",false);

		var myDropzone = new Dropzone("#form_snippet_image", {
			url: _actionToDropZone,
			params: {
				complex_id: 4
			},
			maxFilesize: 1, // MB
			maxFiles: 5,
			addRemoveLinks: true,
			createImageThumbnails: true,
			acceptedFiles: ".png,.jpg,.jpeg",
			thumbnailWidth: 250,
			thumbnailHeight: 250,
			autoProcessQueue: true,
			parallelUploads: 1,
			uploadMultiple: false,
			success: function(file, response){
				//console.log(response.success);
				file.id = response.success;

			},
			error: function(file, response){
				//console.log(response.success);
				file.id = response.success;
				if(countFiles > 5){
					myDropzone.disable();
				}


			},



		});

	});


</script>