{# DROPZONE FILE UPLOADER#}
<script src="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.css') }}">

<script src="{{ asset('bundles/backendadmin/js/backend.js')  }}"></script>

<style>
	.dz-error-message{
		margin-top: 20px !important;
	}
</style>

<section class="content">

	<div class="header">
		<div class="container">


			<div class="row">
				<div class="col-md-6">
					<h3 class="header-title">{{ 'label_new'|trans }} {{ 'label_menu.ticket'|trans }}</h3>
				</div>
				{{ include('BackendAdminBundle:Complex:sessionComplex.html.twig') }}                                
			</div>                        
			<div class="row">
				<div class="col-md-12">
					<blockquote>
						<div class="col-md-11">
							<p> {{ 'label_ticket_new_advice'|trans }}  </p>
						</div>
						<div class="col-md-1 text-right">
							<i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
						</div>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTENT -->
	<div class="main-content no-bordertop">

		<div class="container">

			<form method="POST" id="ticketForm" name="ticketForm" action="{{ path('backend_admin_ticket_create') }}">
				<div class="form-inputs-g">
                                        <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;">
                                    
					<div class="row">
						<div class="col-md-4 form-group">							
                                                        <label class="txt-blue-bold">{{ 'label_complex_sector'|trans }}: </label>														
                                                        <select  class="form-control classic" id="sector_select" name="sector_select">
                                                                {% for sector in complexSector %}
                                                                        <option value="{{ sector.id }}">{{ sector }}</option>
                                                                {% endfor %}
                                                        </select>							
						</div>

						<div class="col-md-4 form-group">
                                                    <label class="txt-blue-bold">{{ 'label_property_number'|trans }}: </label>
                                                    <select  class="form-control classic" id="property_select" name="property_select">

                                                    </select>							
						</div>


						<div class="col-md-4 form-group">
                                                    <label class="txt-blue-bold">{{ 'label_category'|trans }}: </label>							
                                                    <select  class="form-control classic" id="category_select" name="category_select">
                                                            {% for category in ticketCategory %}
                                                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                    </select>							
						</div>

					</div>
					

					{% set myToken = token %}

					<input type="hidden" name="ticket[token]" value="{{ myToken }}">
                                        <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;">
                                        <br>
					<div class="row">
                                            <label class="txt-blue-bold">{{ 'label_title'|trans }}: </label>						
                                            <input type="text" class="form-control" placeholder="" name="title" id="title">
                                            <br>
					</div>                                            
					<div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <label class="txt-blue-bold">{{ 'label_description'|trans }}: </label>												
                                                <textarea required class="form-control rounded-0" id="exampleFormControlTextarea1" rows="7" name="description" id="description"></textarea>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <label class="txt-blue-bold">{{ 'label_solution'|trans }}: </label>						
                                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="7" name="solution" id="solution"></textarea>
                                            </div>
					</div>					
				
					<div class="row">
                                            <div class="col-md-11">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="is_public" id="is_public" />&nbsp;{{ 'label_is_public'|trans }}
                                                    </label>
                                                </div>
                                            </div>
					</div>

					<div class="clearfix"></div>
					<br/>


					<h3>{{ 'label_photo'|trans }} </h3>
					<h2>1 {{ 'label_max_files'|trans }} </h2>
					<div class="dropzone my-dropzone" id="form_snippet_image"  action="{{path('ticket_ajax_snippet_image_send')}}">

					</div>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-8">
						</div>
						<div class="col-md-2">
							<button type="submit" id="mySubmit" class="btn btn-primary">{{ 'label_save'|trans }}</button>
						</div>
						<div class="col-md-2">
							<a  href="{{ path('backend_admin_ticket_index') }}" class="btn btn-primary button-cancel">{{ 'label_cancel'|trans }}</a>
						</div>
					</div>

				</div>
			</form>

		</div>

	</div>
	<!-- END: CONTENT -->
</section>

<script type="text/javascript" language="JavaScript">

	$( document ).ready(function() {



		$("#sector_select").change(function () {
			changeProperties("{{ path('backend_admin_complex_sector_list_properties') }}", "property_select", $("#sector_select").val() );
		});

		changeProperties("{{ path('backend_admin_complex_sector_list_properties') }}", "property_select", $("#sector_select").val() );


		$("#ticketForm").validate();


		$("#sector_select").rules("add", {required:true});
		$("#property_select").rules("add", {required:true});
		$("#category_select").rules("add", {required:true});
		$("#title").rules("add", {required:true});
		//$("#description").rules("add", {required:true});

		$('[name="ticketForm"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='ticketForm']").valid()){
				$('#pizote_spinner').show();
				return true;

			}
			else{
				return false;
			}

		});


		////DROPZONE
		var countFiles = 0;
		var uploadedFiles = 0;

		var _actionToDropZone = $("#form_snippet_image").attr('action');
		Dropzone.autoDiscover = false;
		//$(".dz-hidden-input").prop("disabled",false);

		var myDropzone = new Dropzone("#form_snippet_image", {
			url: _actionToDropZone,
			params: {
				ticket: '{{ myToken }}'
			},
			maxFilesize: 5, // MB
			maxFiles: 1,
			addRemoveLinks: true,
			createImageThumbnails: true,
			acceptedFiles: ".png,.jpg,.jpeg",
			thumbnailWidth: 250,
			thumbnailHeight: 250,
			//autoProcessQueue: false,
			parallelUploads: 5,
			uploadMultiple: false,
			success: function(file, response){
				//console.log(response.success);
				file.id = response.success;
				//return true;
				//alert("finish");

			},


			init: function() {
				thisDropzone = this;

				// First change the button to actually tell Dropzone to process the queue.
				{#
				document.getElementById("mySubmit").addEventListener("click", function(e) {
					// Make sure that the form isn't actually being sent.
					e.preventDefault();
					e.stopPropagation();
					thisDropzone.processQueue();
				});

				#}

				{#
                this.on("maxfilesexceeded", function(file){
                    alert("{{ 'label_no_more_files'|trans }}");
                    //this.removeFile(file);
                    //countFiles--;
                    myDropzone.disable();


                });

                #}

				this.on('removedfile', function (file) {

					//console.log(file);
					//$('#pizote_spinner').show();
					countFiles--;
					uploadedFiles--;

					if(countFiles < 1){
						myDropzone.enable();
					}

				});

				this.on("addedfile", function(file) {
					countFiles++;

					if(countFiles > 1){

						alert("{{ 'label_no_more_files'|trans }}");
						myDropzone.disable();

						$("[name='ticketForm']").submit(function(e){
							//e.preventDefault();
							$('#pizote_spinner').hide();
						});
					}
				});

				this.on("totaluploadprogress", function(totalPercentage, totalBytesSent){

					if(totalPercentage >= 100 && totalBytesSent) {

						//$('#pizote_spinner').show();
						//$("[name='ticketForm']").submit();

					}
				});

			}

		});



	});


</script>