
<script src="{{ asset('bundles/backendadmin/js/backend.js')  }}"></script>

<section class="content">

	<div class="header">
		<div class="container">


			<div class="row">
				<div class="col-md-6">
					<h3 class="header-title">{{ 'label_new'|trans }} {{ 'label_menu.ticket'|trans }}</h3>
				</div>

				{{ include('BackendAdminBundle:Complex:sessionComplex.html.twig') }}
			</div>
			<div class="row">
				<div class="col-md-12">
					<blockquote>
						<div class="col-md-11">
							<p> {{ 'label_ticket_new_advice'|trans }}  </p>
						</div>
						<div class="col-md-1 text-right">
							<i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
						</div>
					</blockquote>
				</div>
			</div>


		</div>
	</div>

	<!-- CONTENT -->
	<div class="main-content no-bordertop">

		<div class="container">

			<form method="POST" id="ticketForm" name="ticketForm" action="{{ path('backend_admin_ticket_create') }}">
				<div class="form-inputs-g">


					<div class="row">
						<div class="col-md-4">
							<div class="col-md-3">
								<p class="txt-blue-bold">{{ 'label_complex_sector'|trans }}: </p>
							</div>
							<div class="col-md-9">
								<select  class="form-control classic" id="sector_select" name="sector_select">
									{% for sector in complexSector %}
										<option value="{{ sector.id }}">{{ sector }}</option>
									{% endfor %}
								</select>
							</div>

						</div>

						<div class="col-md-4">
							<div class="col-md-5">
								<p class="txt-blue-bold">{{ 'label_property_number'|trans }}: </p>
							</div>
							<div class="col-md-7">
								<select  class="form-control classic" id="property_select" name="property_select">

								</select>
							</div>

						</div>


						<div class="col-md-4">
							<div class="col-md-4">
								<p class="txt-blue-bold">{{ 'label_category'|trans }}: </p>
							</div>
							<div class="col-md-8">
								<select  class="form-control classic" id="category_select" name="category_select">
									{% for category in ticketCategory %}
										<option value="{{ category.id }}">{{ category.name }}</option>
									{% endfor %}
								</select>
							</div>

						</div>

					</div>

					<br/>


					<div class="row">
						<div class="col-md-1">
							<p class="txt-blue-bold">{{ 'label_title'|trans }}: </p>
						</div>
						<div class="col-md-11">
							<input type="text" class="form-control" placeholder="" name="title" id="title">

						</div>
					</div>

					<div class="row">
						<div class="col-md-1">
							<p class="txt-blue-bold">{{ 'label_description'|trans }}: </p>
						</div>
						<br/>
						<div class="col-md-11">
							<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="7" name="description" id="description"></textarea>

						</div>
					</div>

					<br/>

					<div class="clearfix"></div>
					<br/>

					<div class="row">
						<div class="col-md-1">
							<p class="txt-blue-bold">{{ 'label_solution'|trans }}: </p>
						</div>
						<div class="col-md-11">
							<textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="7" name="solution" id="solution"></textarea>

						</div>
					</div>
					<div class="clearfix"></div>
					<br/>

					<div class="row">

						<div class="col-md-11">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="is_public" id="is_public" />&nbsp;{{ 'label_is_public'|trans }}
								</label>
							</div>
						</div>
					</div>


					<br/>
					<div class="row">
						<div class="col-md-8">
						</div>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary">{{ 'label_save'|trans }}</button>
						</div>
						<div class="col-md-2">
							<a  href="{{ path('backend_admin_ticket_index') }}" class="btn btn-primary button-cancel">{{ 'label_cancel'|trans }}</a>
						</div>
					</div>

				</div>
			</form>

		</div>

	</div>
	<!-- END: CONTENT -->
</section>

<script type="text/javascript" language="JavaScript">

	$( document ).ready(function() {


		{% set myPath =  url('backend_admin_homepage')~"/uploads/images/tickets/" %}
		{% set myPath = myPath|replace({'app_dev.php': ''}) %}
		{% set myPath = myPath|replace({'/en/': ''}) %}
		{% set myPath = myPath|replace({'/es/': ''}) %}
		
		$("#sector_select").change(function () {
			changeProperties("{{ path('backend_admin_complex_sector_list_properties') }}", "property_select", $("#sector_select").val() );
		});

		changeProperties("{{ path('backend_admin_complex_sector_list_properties') }}", "property_select", $("#sector_select").val() );


		$("[name='ticketForm']").validate();


		$("#sector_select").rules("add", {required:true});
		$("#property_select").rules("add", {required:true});
		$("#category_select").rules("add", {required:true});
		$("#title").rules("add", {required:true, maxlength: 32});
		$("#description").rules("add", {required:true, maxlength: 256});

		$('[name="ticketForm"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='ticketForm']").valid()){
				$('#pizote_spinner').show();
				return true;

			}
			else{
				return false;
			}

		});


		////DROPZONE
		var countFiles = 0;
		var _actionToDropZone = $("#form_snippet_image").attr('action');
		Dropzone.autoDiscover = false;
		//$(".dz-hidden-input").prop("disabled",false);

		var myDropzone = new Dropzone("#form_snippet_image", {
			url: _actionToDropZone,
			params: {
				complex_id: 4
			},
			maxFilesize: 1, // MB
			maxFiles: 5,
			addRemoveLinks: true,
			createImageThumbnails: true,
			acceptedFiles: ".png,.jpg,.jpeg",
			thumbnailWidth: 250,
			thumbnailHeight: 250,
			autoProcessQueue: true,
			parallelUploads: 1,
			uploadMultiple: false,
			success: function(file, response){
				//console.log(response.success);
				file.id = response.success;

			},
			error: function(file, response){
				//console.log(response.success);
				file.id = response.success;
				if(countFiles > 5){
					myDropzone.disable();
				}

			},



		});

	});


</script>