{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_ticket_index') }}">{{ 'label_menu.ticket'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_ticket_new') }}">{{ 'label_new'|trans  }}</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:Ticket:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}