<link href="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/css/flags.css')  }}" rel="stylesheet" />
<script src="{{ asset('bundles/pizotearkadmin/js/flagstrap-master/dist/js/jquery.flagstrap.js') }}"></script>

<style>
	.input-group {
		z-index: 0;
	}
</style>

<div class="row">
	<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

		<div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" style="" role="widget">

			<header role="heading">
				<h2>{{ 'label_form'|trans }}</h2>

			</header>

			<!-- widget div-->
			<div role="content">

				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->

				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">

					{#<form id="backend_adminbundle_complex" action="{{path('backend_admin_common_area_create')}}" method="POST" name="backend_adminbundle_complex">#}
					{{ form_start(form) }}
					{{ form_errors(form) }}

					<fieldset>


						<div class="form-group col-md-4">
							{{ form_label(form.name) }}
							{{ form_errors(form.name) }}
							{{ form_widget(form.name, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						<div class="form-group col-md-4">
							{{ form_label(form.description) }}
							{{ form_errors(form.description) }}
							{{ form_widget(form.description, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-md-4">
							{{ form_label(form.complex) }}
							{{ form_errors(form.complex) }}
							{{ form_widget(form.complex, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>

						{#
						<div class="form-group col-md-4">
							{{ form_label(form.commonAreaType) }}
							{{ form_errors(form.commonAreaType) }}
							{{ form_widget(form.commonAreaType, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>

						#}

                                                
						<div class="form-group col-md-4">
							{{ form_label(form.regulation) }}
							{{ form_errors(form.regulation) }}
							{{ form_widget(form.regulation, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						<div class="form-group col-md-4">
							{{ form_label(form.termCondition) }}
							{{ form_errors(form.termCondition) }}
							{{ form_widget(form.termCondition, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-md-4">
							{{ form_label(form.price) }}
							{{ form_errors(form.price) }}
							{{ form_widget(form.price, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>


						<div class="form-group col-md-4">
							{{ form_label(form.reservationHourPeriod) }}
							{{ form_errors(form.reservationHourPeriod) }}
							{{ form_widget(form.reservationHourPeriod, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
                                                <div class="form-group col-md-4">
							{{ form_label(form.requiredPayment) }}
							{{ form_errors(form.requiredPayment) }}
							{{ form_widget(form.requiredPayment, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						<div class="form-group col-md-4">
							{{ form_label(form.hasEquipment) }}
							{{ form_errors(form.hasEquipment) }}
							{{ form_widget(form.hasEquipment, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-md-4">
							{{ form_label(form.equipmentDescription) }}
							{{ form_errors(form.equipmentDescription) }}
							{{ form_widget(form.equipmentDescription, { 'attr': {'class' : 'form-control' } }
							) }}
						</div>
						{#<div class="col-md-2">
							<label>&nbsp;</label>
							<input type="text" class="form-control" id="inputCommonAreaType" name="extra[propertyTypeName]" style="display: none" placeholder="{{ 'label_name'|trans }}">
						</div>#}
                                                <div class="clearfix"></div>

						<div class="clearfix"></div>


						<div class="hide">
							{{ form_rest(form) }}
						</div>

					</fieldset>

					<div class="form-actions">
						<a href="{{ path('backend_admin_common_area_index') }}" class="btn btn-default"> {{ 'label_cancel'|trans  }} </a>

						<button class="btn btn-primary">
							<i class="fa fa-save"></i>
							{{ 'label_save'|trans  }}
						</button>
					</div>

					<!--</form>-->
					{{ form_end(form) }}

				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget div -->

		</div>

		<div class="clearfix"></div>

	</article>
</div>

<script type="text/javascript" language="Javascript">

	$( document ).ready(function() {


		//alert($("#complexSectorType").val());


		{#$("#complexSectorType").change(function(){
			myValue =$("#complexSectorType option:selected").attr('value');

			if(myValue == 0){
				$("#inputSectionName").show();
				$("#inputSectionName").rules("add", {required:true});

			}
			else{
				$("#inputSectionName").hide();
				$("#inputSectionName-error").hide();
				$("#inputSectionName").rules("add", {required:false});
			}


		});



		//propertyType
		$("#common_area_propertyType").change(function(){
			myValue =$("#common_area_propertyType option:selected").attr('value');

			if(myValue == 0){
				$("#inputCommonAreaType").show();
				$("#inputCommonAreaType").rules("add", {required:true});
			}
			else{
				$("#inputCommonAreaType").hide();
				$("#inputCommonAreaType-error").hide();
				$("#inputCommonAreaType").rules("add", {required:false});
			}

		});#}





		$("[name='common_area']").validate({

		});
		//$("#common_area_zipCode").rules("add", {required:true, minlength: 4, digits:true});


		$('[name="common_area"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='common_area']").valid()){
				$('#pizote_spinner').show();
				return true;

			}
			else{
				return false;
			}

		});






	});





</script>