{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_common_area_index') }}">{{ 'label_menu.common_area'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_common_area_new') }}">{{ 'label_new'|trans  }}</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:CommonArea:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}