{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_property_contract_index') }}">{{ 'label_menu.property_contract'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_property_contract_new') }}">{{ 'label_new'|trans  }}</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}


    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="header-title">Add Property Agreement</h3>
                </div>
                <div class="col-md-2 text-right">
                    <p style="margin-top:8px">Current Complex</p>
                </div>
                <div class="col-md-3">
                    <!--h3 class="header-title-step">Step 1/2</h3>-->


                    <select  class="form-control classic" id="exampleFormControlSelect1">
                        <option>Weston Houses, Miami FL</option>
                        <option>Weston Houses 2</option>
                        <option>Weston Houses 3</option>
                        <option>Weston Houses 4</option>
                        <option>Weston Houses 5</option>
                    </select>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <div class="col-md-11">
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate quam ut risus ullamcorper convallis. Morbi pellentesque congue elit malesuada pharetra. Suspendisse iaculis interdum elit, et porta ex tempus eget. Ut nec diam dictum, cursus metus euismod, aliquet ante. Quisque a lacus dapibus, semper ante ac, mollis nibh. Integer gravida tellus nec commodo facilisis. Ut ornare ex a dui elementum, quis mollis ante tristique. Sed hendrerit congue neque, non ornare enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.  </p>
                        </div>
                        <div class="col-md-1 text-right">
                            <i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
                        </div>
                    </blockquote>
                </div>
            </div>

        </div>

    </div>

    <!-- CONTENT -->
    <div class="main-content no-bordertop">



        <div class="container">



            <div class="form-inputs-g">


                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-3">
                            <p class="txt-blue-bold">Sector: </p>
                        </div>
                        <div class="col-md-9">
                            <span>1</span>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="col-md-5">
                            <p class="txt-blue-bold">Property Number: </p>
                        </div>
                        <div class="col-md-7">
                            <span>105</span>
                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="col-md-5">
                            <p class="txt-blue-bold">Maintenance cost: </p>
                        </div>
                        <div class="col-md-7 text-right">
                            <span>$ 540.00</span>
                        </div>

                    </div>

                </div>

                <br/>
                <!-- adress -->

                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>


                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <p class="txt-blue-bold">Tenant Email: </p>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="example@example.com">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <p class="txt-blue-bold text-right">Who Pays Maintenancet: </p>
                        </div>
                        <div class="col-md-7 text-right">
                            <label class="radio-inline"><input type="radio" name="optradio" checked>Owner</label>
                            <label class="radio-inline"><input type="radio" name="optradio" checked>Tenant</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row color1">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <p class="txt-blue-bold text-leftt">Owner: </p>
                        </div>
                        <div class="col-md-9">
                            <span>Andres Garcia Bernat</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-3">
                            <p class="txt-blue-bold text-leftt">Start Date </p>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="01/05/19">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br/>

                <div class="row color2">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <p class="txt-blue-bold">Owner Email: </p>
                        </div>
                        <div class="col-md-9">
                            <span>andres@gameborad.tech</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <p class="txt-blue-bold text-leftt">Finish Date </p>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="01/05/19">
                        </div>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <div class="col-md-2">
                        <button style="background-color:black; color:#FFF;" type="submit" class="btn btn-primary">Cancel</button>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- END: CONTENT -->



{% endblock %}

{% block extrascripts %}



{% endblock %}