{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_complex_faq_index') }}"></a>{{ 'label_menu.complex_faq'|trans }} </li>
{% endblock %}

{% block title %}
    {{ 'label_menu.complex_faq'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block body -%}
    {{ parent() }}

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <a class="pull-right btn btn-primary " href="{{ path('backend_admin_complex_faq_new') }}">
                {{ 'label_create_new'|trans }} {{ 'label_complex_faq'|trans }}
            </a>
        </div>
    </div>

    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
        <header>
            <h2> {{ 'label_menu.complex_faq'|trans }}</h2>
        </header>

        <!-- widget div-->
        <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>

            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                <div class="widget-body-toolbar">

                </div>

                <table id="dt_table" class="table table-striped  table-hover">
                    <tfoot class="dt_tfoot">
                        <tr>
                            <th>ID</th>
                            <th>{{ 'label_question'|trans }}</th>
                            <th>{{ 'label_answer'|trans }}</th>
                            <th>{{ 'label_order_list'|trans }}</th>
                            <th>{{ 'label_complex'|trans }}</th>
                            <th>&nbsp;</th>

                        </tr>
                    </tfoot>
                    <thead>
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>ID</th>
                            <th>{{ 'label_question'|trans }}</th>
                            <th>{{ 'label_answer'|trans }}</th>
                            <th>{{ 'label_order_list'|trans }}</th>
                            <th>{{ 'label_complex'|trans }}</th>
                            <th>{{ 'label_actions'|trans }}</th>
                        </tr>

                    </thead>
                    <tbody></tbody>

                </table>
                {# display navigation #}

            </div>
            <!-- end widget content -->



        </div>
        <!-- end widget div -->
    </div>

    <script type="text/javascript">

        var table;
        {% set myLocale = app.request.getLocale() %};

        function fetchData(){

            table  = $('#dt_table').DataTable({
                "columnDefs": [

                    // These are the column name variables that will be sent to the server
                    { "name": "id",   "targets": 0 },
                    { "name": "question",   "targets": 1 },
                    { "name": "answer",   "targets": 2 },
                    { "name": "orderList",   "targets": 3 },
                    { "name": "complex",   "targets": 4 },
                    { "name": "actions",  "targets": 5 },

                ],
                // Server-side parameters
                "processing": true,
                "serverSide": true,
                // Ajax call
                "ajax": {
                    "url": "{{ path('complex_faq_list_datatables') }}",
                    "type": "POST",
                    //dataType: "html"
                },
                // Classic DataTables parameters
                "paging" : true,
                "info" : true,
                "searching": true,
                "pageLength": 10,
                "order": [[1, 'asc']],
                {% if myLocale == 'es' %}
                "language": {
                    "url": "{{ asset('bundles/pizotearkadmin/js/plugin/datatables/dataTables.spanish.lang') }}"
                }
                {% else %}
                "language": {
                    "infoFiltered": ""
                }
                {% endif %}



            });

        }

        $(document).ready(function(){

            // Add a text input to each footer cell
            var pos = 1;
            $('#dt_table tfoot th').each( function () {
                var title = $(this).text();
                if(pos != 6){//columna Actions
                    $(this).html( "<input id='input" + pos + "' type='text' class='form-control' style='font-family:Arial, FontAwesome; width:100%'/>" );
                }

                pos ++;
            });


            fetchData();

            // Apply the search
            pos = 1;
            table.columns().every( function () {
                var that = this;

                $("#input"+pos).on( 'keyup change', function () {
                    if ( that.search() !== this.value )
                    {
                        that.search( this.value ).draw();
                    }
                });
                pos++;
            });


        });

    </script>


{% endblock %}


{% block extrascripts %}


    $(document).on('click', '.btn-delete', function(e){
    e.preventDefault();

    var url = $(this).attr('href');
    var c = confirm("{{ 'label_are_you_sure'|trans }}");

    if(c){
    $('#spinner').show();
    window.location = url;
    }else{
    return false;
    }


    });

{% endblock %}