{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_complex_faq_index') }}">{{ 'label_menu.complex_faq'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_complex_faq_new') }}">{{ 'label_new'|trans  }}</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:ComplexFaq:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}