

<div class="container">
	<div class="row">

    	
	<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

		<div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" style="" role="widget">

			<header role="heading">
				<h2>{{ 'label_form'|trans }}</h2>

			</header>

			<!-- widget div-->
			<div role="content">

				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->

				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">

					<div class="form-inputs-g">
                    {{ form_start(form) }}
                    	

						<fieldset>
							<div id="section_username">
								<div class="form-group col-md-6">
									{{ form_label(form.username) }}
									{{ form_errors(form.username) }}
									{{ form_widget(form.username, { 'attr': {'class' : 'form-control' } }
									) }}
								</div>

							</div>

							<div class="form-group col-md-6">
								{{ form_label(form.name) }}
								{{ form_errors(form.name) }}
								{{ form_widget(form.name, { 'attr': {'class' : 'form-control' } }
								) }}
							</div>
							<div class="clearfix"></div>

							<div class="form-group col-md-6">
								{{ form_label(form.email) }}
								{{ form_errors(form.email) }}
								{{ form_widget(form.email, { 'attr': {'class' : 'form-control' } }
								) }}
							</div>
							
								<div class="form-group col-md-6">
									{{ form_label(form.password) }}
									{{ form_errors(form.password) }}
									{{ form_widget(form.password, { 'attr': {'class' : 'form-control classic', 'autocomplete':'off' } }
									) }}

									<label>{{ 'label_set_password'|trans }}</label>
								</div>

							<div class="clearfix"></div>

							{% if edit is defined %}
								<div class="form-group col-md-6">
									<label for="user_birthdate" class="required">{{ 'label_birthdate'|trans }}</label>
									{% if edit is defined %}

										<input id="form_birthdate" name="user[birthdate]" type="date" class="form-control" value="{{entity.birthdate|date('Y-m-d')}}"/>
									{% else %}
										<input id="form_birthdate" name="user[birthdate]" type="date" class="form-control"/>
									{% endif %}

									{#


                                    {% if edit is defined %}
                                        <input readonly="readonly" id="birthdate" name="user[birthdate]" type="text" class="classPicker form-control" value="{{entity.birthdate|date('m-d-Y')}}" data-date-format='mm-dd-yyyy' />
                                    {% else %}
                                        <input readonly="readonly" id="birthdate" name="user[birthdate]" type="text" class="classPicker form-control" value="{{'now'|date('m-d-Y')}}" data-date-format='mm-dd-yyyy' />
                                    {% endif %}
                                    #}

								</div>
								<div class="form-group col-md-6">
									{{ form_label(form.avatarPath) }}
									{{ form_errors(form.avatarPath) }}
									{{ form_widget(form.avatarPath, { 'attr': {'class' : 'form-control' } }
									) }}

								</div>


								<div class="clearfix"></div>



							{% endif %}

							{#
							{% if role == "SUPER ADMIN" %}

								<div class="form-group col-md-6">
									{{ form_label(form.business) }}
									{{ form_errors(form.business) }}
									{{ form_widget(form.business, { 'attr': {'class' : 'form-control' } }
									) }}

								</div>

							{% endif %}
							#}

							{% if edit is defined %}


								{% if role != "ADMIN" %}

									<div class="form-group col-md-6">
										{{ form_label(form.role) }}
										{{ form_errors(form.role) }}
										{{ form_widget(form.role, { 'attr': {'class' : 'form-control', 'disabled':'disabled' } }
										) }}

									</div>


								{% elseif role == "ADMIN" and userLooged != entity.id %}
									<div class="form-group col-md-6">
										{{ form_label(form.role) }}
										{{ form_errors(form.role) }}
										{{ form_widget(form.role, { 'attr': {'class' : 'form-control' } }
										) }}
									</div>

								{% endif %}


							{% else %}
								<div class="form-group col-md-6">
									{{ form_label(form.role) }}
									{{ form_errors(form.role) }}
									{{ form_widget(form.role, { 'attr': {'class' : 'form-control' } }
									) }}
								</div>

							{% endif %}

							{% if role == "COMPLEX ADMIN" %}
								<div class="clearfix"></div>
								<div class="form-group col-md-6" id="supervisorSelect">
									{{ form_label(form.supervisor) }}
									{{ form_errors(form.supervisor) }}
									{{ form_widget(form.supervisor, { 'attr': {'class' : 'form-control classic' } }
									) }}

								</div>

							{% endif %}
							<div class="clearfix"></div>



							{% if role == "ADMIN" and edit is defined%}
								<div class="form-group col-md-6">

									<div class="checkbox">
										<label>

										{{ form_label(form.enabled) }}
										{{ form_errors(form.enabled) }}
										{{ form_widget(form.enabled, { 'attr': {'class' : '' } }) }}
										</label>
									</div>

								</div>

							{% endif %}

	                        <div class="hide">
	                            {{ form_rest(form) }}
	                        </div>

						</fieldset>

						<div class="clearfix"></div>
						<br/>
						<div class="clearfix"></div>
						<div id="complexTable">
							<h2 class="header-title-step">{{ 'label_complex_assigned'|trans }}</h2>
							<table class="table table-striped  table-hover" style="width: 60%">
								<thead>
								<tr>
									{# sorting of properties based on query components #}
									<th>ID</th>
									<th>{{ 'label_complex'|trans }}</th>
									<th>{{ 'label_assign'|trans }}</th>
								</tr>

								</thead>
								<tbody>

								{% for complex in arrComplex %}
									<tr>
										<td>{{ complex.id }}</td>
										<td>{{ complex.name }}</td>
										{% if edit is defined %}
											<td>
												<div class="checkbox">
													<label>

														{% if complex.assigned == 1%}
															<input type="checkbox" checked name="complex[{{ complex.id }}]">
														{% else %}
															<input type="checkbox" name="complex[{{ complex.id }}]">
														{% endif %}
													</label>
												</div>

											</td>

										{% else %}
											<td>
												<div class="checkbox">
													<label>

														<input type="checkbox" name="complex[{{ complex.id }}]">
													</label>
												</div>
											</td>

											{#<td><a href="#" onclick="assignComplex({{ complex.id }})"> <i class="fas fa-times"></i></a></td>#}

										{% endif %}


									</tr>
								{% endfor %}

								</tbody>

							</table>

						</div>


					<!--</form>-->
						<div class="clearfix"></div>
						<br/>
						<br/>
						<div class="row">
							<div class="col-md-8">
							</div>
							<div class="col-md-2">
								<button type="submit" class="btn btn-primary">{{ 'label_save'|trans }}</button>
							</div>
							<div class="col-md-2">
								<a  href="{{ path('backend_admin_user_index') }}" class="btn btn-primary button-cancel">{{ 'label_cancel'|trans }}</a>
							</div>
						</div>


					{{ form_end(form) }}
					</div>

				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget div -->

		</div>

		<div class="clearfix"></div>

	</article>
</div>
</div>
<script language="JavaScript" type="text/javascript">

	$( document ).ready(function() {


		$("#user_role").change(function() {
			//console.log($("#user_role").val());
			checkRoles();
		});

		$("#section_username").hide();
		$("[name='user']").validate({
			success: function(error){
				setUsername();
				return true;
			},

		});

		{% if new is defined %}

			$("[name='user']").validate();
			//$("#user_password").rules("add", {required:true});
			$("#user_email").rules("add", {required:true, email:true});
			//$("#form_birthdate").rules("add", {required:true});

		{% endif %}

		{% if edit is defined %}
			$("#user_avatarPath").rules("add", {required:false});
		{% endif %}

		
		 $('[name="user"]').on("submit", function(){
		   //Code: Action (like ajax...)
		   if($("[name='user']").valid()){
			   $('#user_role').prop('disabled', false);
			   $('#pizote_spinner').show();
			   return true;
					   	
		   }
		   else{
		   	return false;
		   }

		 });

		 checkRoles();
		
	});

	function checkRoles(){

		myRole = $("#user_role").val();
		if(myRole == 2){//COMPLEX ADMIN
			toggleComplexTable("show");
			toggleSupervisorSelect("show");
			$("#user_supervisor").rules("add", {required:true});

		}
		else if(myRole == 3){//SUPERVISOR
			toggleComplexTable("show");
			toggleSupervisorSelect("hide");
			$("#user_supervisor").rules("add", {required:false});
		}
		else{
			toggleComplexTable("hide");
			toggleSupervisorSelect("hide");
			$("#user_supervisor").rules("add", {required:false});

		}



	}


	function toggleComplexTable(action)
	{
		if(action == "show"){
			$("#complexTable").show();
		}
		else{
			$("#complexTable").hide();
		}


	}

	function toggleSupervisorSelect(action)
	{
		if(action == "show"){
			$("#supervisorSelect").show();
		}
		else{
			$("#supervisorSelect").hide();
		}


	}


	function setUsername(){
		email = $("#fos_user_registration_form_email").val();
		$("#fos_user_registration_form_username").val(email);
	}


	function assignComplex(complex){
		console.log(complex);
	}

	{#
		$(".classPicker").datepicker({
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			//dateFormat: 'yyyy-mm-dd',
			onClose: function(dateText, inst) {
				$(this).datepicker('setDate', new Date(inst.selectedMonth, inst.selectedDay, inst.selectedYear));
			}
		});

	#}


	/*
	$("#checkExistence").change(function() {
  		checkExistence();
	});

	function checkExistence(){
		
		$.ajax({
			type:"POST",
			dataType:"html",
			url:"{{ path('user_check_existence') }}",
			data: { 'user_username': $("#user_username"), 'user_email': $("#user_email") },
			success:function(data){
				console.log("llega!")
			}
		});	 		
	}
*/
</script>