{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_property_index') }}">{{ 'label_menu.property'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_property_detail', { 'id': entity.id }) }}">{{ 'label_detail'|trans  }}</a> </li>

{% endblock %}

{% block body -%}
    {{ parent() }}

    <section class="content">

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="header-title">{{ 'label_property_details'|trans }}</h3>
                    </div>
                    <div class="col-md-7 text-left">
                        <h4>{{ entity }}<span style="font-size:14px;"> {{ entity.complex }}</span> </h4>
                    </div>
                    <div class="col-md-2">
                        {#<button type="submit" class="btn btn-primary">Change Tenant</button>#}
                    </div>
                </div>
                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                </div>
                <form method="POST" action="{{ path('backend_admin_property_contract_cancel', {id: entity.id}) }}" id="updateForm">
                    <input type="hidden" name="submit" value="true">
                    <div class="col-md-8">

                        <div class="wrapp-update-m-c">
                            <h2 class="text-center title-update-m-c">{{ 'label_cancel'|trans }} {{ 'label_property_agreement'|trans }} </h2>
                            <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

                            <blockquote>
                                <div class="col-md-12">
                                    <p> {{ 'label_cancel_contract_advice'|trans }}  </p>
                                </div>

                            </blockquote>

                            <div class="row color2">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">
                                        <p class="txt-blue-bold">{{ 'label_tenant'|trans }}:</p>
                                    </div>
                                    <div class="col-md-4 text-left ">
                                        {{ tenantContract.user.name }}
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>

                            <div class="row color1">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">
                                        <p class="txt-blue-bold">{{ 'label_email'|trans }} ({{ 'label_tenant'|trans }} ):</p>
                                    </div>
                                    <div class="col-md-64 text-left ">
                                        {{ tenantContract.user.email }}
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>


                            <div class="row color2">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">
                                        <p class="txt-blue-bold">{{ 'label_agreement_start_date'|trans }}: </p>
                                    </div>
                                    <div class="col-md-4 text-left">
                                        {{ propertyContract.startDate|date("Y-m-d") }}

                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>



                            <div class="row color1">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">
                                        <p class="txt-blue-bold">{{ 'label_agreement_end_date'|trans }}: </p>
                                    </div>
                                    <div class="col-md-4 text-left ">
                                        {{ propertyContract.endDate|date("Y-m-d") }}

                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>

                            <div class="row color2">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">
                                        <p class="txt-blue-bold">{{ 'label_property_agreement'|trans }} {{ 'label_expires'|trans }}: </p>
                                    </div>
                                    <div class="col-md-4 text-left ">
                                        {{ remainingTime }}
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>

                            <div class="row color1">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">
                                        <p class="txt-blue-bold">{{ 'label_maintenance'|trans }}: </p>
                                    </div>
                                    <div class="col-md-4 text-left ">
                                        {{ propertyContract.maintenancePrice|number_format(2, '.', '') }}

                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>



                            <div class="row">

                                <div class="col-md-12">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-6 text-center">

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="custom-control-input" id="notifyOwner" name="notifyOwner">&nbsp;<a data-toggle="modal" id="orange-button" data-target="#orange-modal" data-color="orange" href="#">{{ 'label_notify_owner'|trans }}</a>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-4">
                                        <button style="width:80%;" type="submit" class="btn btn-primary btn-cancel-contract">{{ 'label_cancel'|trans }} {{ 'label_property_agreement'|trans }}</button>
                                    </div>
                                    <div class="col-md-4">

                                        <a href="{{ path('backend_admin_property_detail', {id: entity.id}) }}" style="background-color:black; color:#FFF; width:80%;" class="btn btn-primary">{{ 'label_cancel'|trans }}</a>

                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </form>
                <div class="col-md-2">

                </div>

            </div>
        </div>

    </section>

    <script type="text/javascript">
        $( function() {
            $( "#tabs" ).tabs();
        } );
    </script>
{% endblock %}

{% block extrascripts %}


{% endblock %}