<script src="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/pizotearkadmin/js/dropzone/dropzone.css') }}">

<style>
	.input-group {
		z-index: 0;
	}
</style>

		<div class="header">
			<div class="container">
				<div class="row">


					{% if edit is defined %}

						{% if isAdShared != 0 %}
							<div class="col-md-7">&nbsp;</div>
							<div class="col-md-5 text-right">
								<label class="pull-right" >{{ 'label_property_share_ad_msg'|trans }}{{ isAdSharedDays }}&nbsp;{{ 'label_days'|trans }}</label>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-8">&nbsp;</div>
							<div class="col-md-2 text-right"></div>

							<div class="col-md-2">
								<a class="pull-right btn btn-primary btn-lg" href="{{ path('backend_admin_property_delete_ad', {propertyID: entity.id, ticketID: isAdShared}) }}">
									{{ 'label_property_delete_ad'|trans }}
								</a>
							</div>


						{% else %}
							{% if app.user.role.name == "ADMIN" %}{#EVALUAR QUE ROLES TENDRAN ACCESO A CREAR PROPIEDADES#}

								<div class="col-md-8">&nbsp;</div>
								<div class="col-md-2 text-right"></div>
								<div class="col-md-2 text-right">
									<a class="pull-right btn btn-primary btn-lg" href="{{ path('backend_admin_property_share_ad', {propertyID: entity.id}) }}">
										{{ 'label_property_share_ad'|trans }}
									</a>
								</div>
							{% endif %}

						{% endif %}

					{% endif %}



					{% if edit is defined %}
						<div class="col-md-6">
							<h3 class="header-title">{{ 'label_edit'|trans }} {{ 'label_property'|trans }}</h3>
						</div>


					{% else %}
						<div class="col-md-6">
							<h3 class="header-title">{{ 'label_create_new'|trans }} {{ 'label_property'|trans }}</h3>
						</div>

					{% endif %}

					{% if new is defined %}
						{{ include('BackendAdminBundle:Complex:sessionComplex.html.twig') }}
					{% endif %}


				</div>

				<div class="row">
					<div class="col-md-12">
						<blockquote>
							<div class="col-md-11">
								<p> {{ 'label_add_property_advice'|trans }} </p>
							</div>
							<div class="col-md-1 text-right">
								<i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
							</div>
						</blockquote>
					</div>
				</div>

			</div>
		</div>

		<!-- CONTENT -->
		<div class="main-content no-bordertop">

			<div class="container">



				{{ form_start(form) }}
				{{ form_errors(form) }}

					<fieldset>

						{% if edit is defined %}
							{% if propertyContract is not null and tenantContract is not null%}
								<input type="hidden" name="tenantContract" value="{{ tenantContract.id }}">
								<input type="hidden" name="propertyContract" value="{{ propertyContract.id }}">
							{% else %}
								<input type="hidden" name="tenantContract" value="0">
								<input type="hidden" name="propertyContract" value="0">

							{% endif %}

						{% endif %}

						<div class="clearfix"></div>

						<hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

						<div class="form-inputs-g">


							<div class="row">
								<div class="col-md-4">
									<div class="col-md-3">
										<p class="txt-blue-bold">{{ 'label_complex_sector'|trans }}:</p>
									</div>
									<div class="col-md-9">
										{{ form_errors(form.complexSector) }}
										{{ form_widget(form.complexSector, { 'attr': {'class' : 'form-control classic' } }
										) }}
									</div>

								</div>

								<div class="col-md-4">
									<div class="col-md-5">
										<p class="txt-blue-bold">{{ 'label_property_number'|trans }}: </p>
									</div>
									<div class="col-md-7">
										{{ form_errors(form.propertyNumber) }}
										{{ form_widget(form.propertyNumber, { 'attr': {'class' : 'form-control', 'maxlength': '6' } }
										) }}
									</div>

								</div>


								<div class="col-md-4">
									<div class="col-md-4">
										<p class="txt-blue-bold">{{ 'label_property_type'|trans }}:</p>
									</div>
									<div class="col-md-8">
										{{ form_errors(form.propertyType) }}
										{{ form_widget(form.propertyType, { 'attr': {'class' : 'form-control classic' } }
										) }}
									</div>

								</div>

							</div>

							<br/>

							<div class="row">
								<div class="col-md-1">
									<p class="txt-blue-bold">{{ 'label_address'|trans }}:</p>
								</div>
								<div class="col-md-11">
									{{ form_errors(form.address) }}
									{{ form_widget(form.address, { 'attr': {'class' : 'form-control rounded-0', 'rows': '6' } }
									) }}

								</div>

								{#
								{% if edit is defined %}
									<div class="col-md-1">
										<p class="txt-blue-bold">QR:</p>
									</div>


									<div class="form-group col-md-3">

										<a download="{{ entity.name }}.png" href="data:image/png;base64,{{ barcode({code: entity.code, type: 'datamatrix', format: 'png', width: 10, height: 10, color: [0, 0, 0]}) }}" >
											<img id="property_qr" src="data:image/png;base64,
											{{ barcode({code: entity.code, type: 'datamatrix', format: 'png', width: 10, height: 10, color: [0, 0, 0]}) }}
											" />
										</a>
									</div>

								{% endif %}

								#}

							</div>


							<br/>

							{% if new is defined %}
								<hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>
								<div class="row">
									<div class="col-md-6">
										<div class="col-md-3">
											<p class="txt-blue-bold">{{ 'label_tenant'|trans }} {{ 'label_email'|trans }}:</p>
										</div>
										<div class="col-md-9">

											<input type="text" class="form-control" placeholder="example@example.com" name="agreement[tenant_email]" id="agreement_tenant_email">

										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-3">
											<p class="txt-blue-bold text-left">{{ 'label_owner'|trans }} {{ 'label_email'|trans }}:</p>


										</div>
										<div class="col-md-9">
											<input type="text" class="form-control" placeholder="example@example.com" name="agreement[owner_email]" id="agreement_owner_email">

										</div>
									</div>
								</div>
								<br/>
								<div class="row color1">
									<div class="col-md-6">
										<div class="col-md-5">
											<p class="txt-blue-bold text-left">{{ 'label_maintenance'|trans }} {{ 'label_cost'|trans }}: </p>
										</div>
										<div class="col-md-7">
											<input type="text" class="form-control" placeholder="$ 540.00" id="agreement_maintenance" name="agreement[maintenance]">


										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-5">
											<p class="txt-blue-bold text-left">{{ 'label_who_pays_maintenance'|trans }}: </p>
										</div>
										<div class="col-md-7 text-right">
											<label class="radio-inline"><input type="radio" name="agreement[whopaysmaintenance]" value="owner">Owner</label>
											<label class="radio-inline"><input type="radio" name="agreement[whopaysmaintenance]" checked value="tenant">Tenant</label>


										</div>
									</div>
								</div>
								<br/>
								<div class="row color2">
									<div class="col-md-6">
										<div class="col-md-3">
											<p class="txt-blue-bold">{{ 'label_agreement_start_date'|trans }}: </p>
										</div>
										<div class="col-md-9">
											<input id="agreement_start_date" name="agreement[start]" type="date" class="form-control"/>

										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-3">
											<p class="txt-blue-bold text-left">{{ 'label_agreement_end_date'|trans }}: </p>
										</div>
										<div class="col-md-9">
											<input id="agreement_end_date" name="agreement[end]" type="date" class="form-control"/>

										</div>
									</div>
								</div>
							{% endif %}

							<div class="row">
								<div class="col-md-9">
								</div>

								<div class="col-md-3">
									<button class="btn btn-primary" type="submit">
										<i class="fa fa-save"></i>
										{{ 'label_save'|trans }}
									</button>

								</div>

							</div>

						</div>

						<div class="hide">
							{{ form_rest(form) }}
						</div>
					</fieldset>
				<!--</form>-->
				{{ form_end(form) }}


			</div>

		</div>
		<!-- END: CONTENT -->


<script type="text/javascript" language="Javascript">


	$( document ).ready(function() {

		$("[name='property']").validate({
			success: function(error){

				return true;
			},

		});



		$("#agreement_tenant_email").rules("add", {required: true, email:true});
		$("#agreement_owner_email").rules("add", {required: true, email:true});
		$("#agreement_maintenance").rules("add", {required: true, number:true});
		$("#agreement_start_date").rules("add", {required: true});
		$("#agreement_end_date").rules("add", {required: true});




		//
		$("#property_complexSector").rules("add", {required: true});
		$("#property_propertyType").rules("add", {required: true});


		$('[name="property"]').on("submit", function(){
			//Code: Action (like ajax...)
			if($("[name='property']").valid()){
				$('#pizote_spinner').show();
				return true;
			}
			else{
				return false;
			}

		});



	});



</script>