{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_property_index') }}"></a>{{ 'label_menu.property'|trans }} </li>
{% endblock %}

{% block title %}
    {{ 'label_menu.property'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


{% block body -%}
    {{ parent() }}

    <div class="header">
        <div class="container">
            <div class="row">
                {% if app.user.role.name == "ADMIN" %}{#EVALUAR QUE ROLES TENDRAN ACCESO A CREAR PROPIEDADES#}
                    {#
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                        <a class="pull-right btn btn-primary btn-lg" href="{{ path('backend_admin_property_new') }}">
                            {{ 'label_create_new'|trans }} {{ 'label_property'|trans }}
                        </a>
                    </div>

                    #}
                    <div class="col-md-8">&nbsp;</div>

                    <div class="col-md-2 text-right">
                        <a  href="{{ path('backend_admin_property_invitations') }}" class="btn btn-primary-blue" style="width:100%" >{{ 'label_invitations'|trans }}</a>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ path('backend_admin_property_new') }}"  class="btn btn-primary" style="width:100%">{{ 'label_create_new'|trans }} {{ 'label_property'|trans }}</a>
                    </div>

                {% endif %}
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="header-title">{{ 'label_menu.property'|trans }}</h3>
                </div>

                {{ include('BackendAdminBundle:Complex:sessionComplex.html.twig') }}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <blockquote>
                        <div class="col-md-11">
                            <p> {{ 'label_complex_properties_advice'|trans }}  </p>
                        </div>
                        <div class="col-md-1 text-right">
                            <i style="font-size:80px;" class="fa fa-question-circle" aria-hidden="true"></i>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>

                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">

                    <div class="widget-body-toolbar">

                    </div>

                    <table id="dt_table" class="table table-striped table-hover">
                        <tfoot class="dt_tfoot">
                            <tr>
                                <th class="pizoteTableID">ID</th>
                                {#<th>{{ 'label_complex'|trans }}</th>#}
                                <th>{{ 'label_complex_sector'|trans }}</th>
                                <th>{{ 'label_property_number'|trans }}</th>

                                <th>{{ 'label_owner'|trans }}</th>
                                <th>{{ 'label_tenant'|trans }}</th>

                                <th class="pizote-actions">&nbsp;</th>

                            </tr>
                        </tfoot>
                        <thead>
                            <tr>
                                {# sorting of properties based on query components #}
                                <th class="pizoteTableID">ID</th>
                                {#<th>{{ 'label_complex'|trans }}</th>#}
                                <th>{{ 'label_complex_sector'|trans }}</th>
                                <th>{{ 'label_property_number'|trans }}</th>

                                <th>{{ 'label_owner'|trans }}</th>
                                <th>{{ 'label_tenant'|trans }}</th>

                                <th class="pizote-actions">{{ 'label_actions'|trans }}</th>
                            </tr>

                        </thead>
                        <tbody></tbody>

                    </table>
                    {# display navigation #}

                </div>
                <!-- end widget content -->



            </div>
            <!-- end widget div -->
        </div>
    </div>

    <script type="text/javascript">

        var table;
        {% set myLocale = app.request.getLocale() %};

        function fetchData(){

            table  = $('#dt_table').DataTable({
                "columnDefs": [

                    // These are the column name variables that will be sent to the server
                    { "name": "id",   "targets": 0 },
                    {#{ "name": "complex",   "targets": 1 },#}
                    { "name": "sector",   "targets": 1 },
                    { "name": "number",   "targets": 2 },

                    { "name": "owner",   "targets": 3 },
                    { "name": "tenant",   "targets": 4 },
                    { "name": "actions",  "targets": 5 },

                ],
                // Server-side parameters
                "processing": true,
                "serverSide": true,
                // Ajax call
                "ajax": {
                    "url": "{{ path('property_list_datatables') }}",
                    "type": "POST",
                    //dataType: "html"
                },
                // Classic DataTables parameters
                "paging" : true,
                "info" : true,
                "searching": true,
                "pageLength": 10,
                "order": [[0, 'asc']],
                {% if myLocale == 'es' %}
                "language": {
                    "url": "{{ asset('bundles/pizotearkadmin/js/plugin/datatables/dataTables.spanish.lang') }}"
                }
                {% else %}
                "language": {
                    "infoFiltered": ""
                }
                {% endif %}



            });

        }

        $(document).ready(function(){

            // Add a text input to each footer cell
            var pos = 1;
            $('#dt_table tfoot th').each( function () {
                var title = $(this).text();
                if(pos != 6){//columna Actions
                    $(this).html( "<input id='input" + pos + "' type='text' class='form-control' style='font-family:Arial, FontAwesome; width:100%'/>" );
                }

                pos ++;
            });


            fetchData();

            // Apply the search
            pos = 1;
            table.columns().every( function () {
                var that = this;

                $("#input"+pos).on( 'keyup change', function () {
                    if ( that.search() !== this.value )
                    {
                        that.search( this.value ).draw();
                    }
                });
                pos++;
            });


        });

    </script>


{% endblock %}


{% block extrascripts %}


    $(document).on('click', '.btn-delete', function(e){
    e.preventDefault();

    var url = $(this).attr('href');
    var c = confirm("{{ 'label_are_you_sure'|trans }}");

    if(c){
    $('#spinner').show();
    window.location = url;
    }else{
    return false;
    }


    });

{% endblock %}