{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_property_index') }}">{{ 'label_menu.property'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_property_detail', { 'id': entity.id }) }}">{{ 'label_detail'|trans  }}</a> </li>

{% endblock %}

{% block body -%}
    {{ parent() }}

    <section class="content">

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="header-title">{{ 'label_property_details'|trans }}</h3>
                    </div>
                    <div class="col-md-7 text-left">
                        <h4>{{ entity }}<span style="font-size:14px;"> {{ entity.complex }}</span> </h4>
                    </div>
                    <div class="col-md-2">
                        {#<button type="submit" class="btn btn-primary">Change Tenant</button>#}
                    </div>
                </div>

                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

            </div>
        </div>

        <!-- CONTENT -->
        <div class="main-content no-bordertop">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">

                    </div>

                    <form method="POST" action="{{ path('backend_admin_property_update_maintenance', {id: entity.id}) }}" id="updateForm">

                        <input type="hidden" name="submit" value="true">
                        <div class="col-md-8">

                            <div class="wrapp-update-m-c">
                                <h2 class="text-center title-update-m-c">{{ 'label_update'|trans }} {{ 'label_maintenance'|trans }} {{ 'label_cost'|trans }}</h2>
                                <hr style="border-width: 1px; border-style: dashed; border-color: #93a7b2;"/>

                                <blockquote>
                                    <div class="col-md-12">
                                        <p> {{ 'label_update_maintenance_advice'|trans }} </p>
                                    </div>

                                </blockquote>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <p class="txt-blue-bold">{{ 'label_who_pays_maintenance'|trans }}: </p>
                                        </div>
                                        <div class="col-md-6 text-left ">

                                            <label class="radio-inline"><input type="radio" value="owner" name="whopaysmaintenance" {{ propertyContract.whoPaysMaintenance == 'owner' ? 'checked' : '' }}>{{ 'label_owner'|trans }}</label>
                                            <label class="radio-inline"><input type="radio" value="tenant" name="whopaysmaintenance" {{ propertyContract.whoPaysMaintenance == 'tenant' ? 'checked' : '' }}>{{ 'label_tenant'|trans }}</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <p class="txt-blue-bold">{{ 'label_maintenance'|trans }} ({{ 'label_cost'|trans }}):</p>
                                        </div>
                                        <div class="col-md-64 text-left ">
                                            {{ propertyContract.maintenancePrice|number_format(2, '.', '') }}
                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <p class="txt-blue-bold">{{ 'label_new'|trans }} {{ 'label_cost'|trans }}: </p>
                                        </div>
                                        <div class="col-md-4 text-left">
                                            <label class="radio-inline"><input type="text" class="form-control" placeholder="{{ propertyContract.maintenancePrice|number_format(2, '.', '') }}" name="newPrice" id="newPrice" required></label>
                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <p class="txt-blue-bold">{{ 'label_property_agreement'|trans }} {{ 'label_expires'|trans }} {{ 'label_in'|trans }}: </p>
                                        </div>
                                        <div class="col-md-4 text-left ">
                                            {{ remainingTime }}
                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                    </div>
                                </div>

                                <hr style="border: 2px solid" />
                                {#
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4 text-center">
                                            <p class="txt-blue-bold">{{ 'label_new'|trans }} {{ 'label_total'|trans }}: </p>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <p class="txt-blue-bold">$ 3,400.00</p>
                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                    </div>
                                </div>
                                #}

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary">{{ 'label_update'|trans }}</button>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="{{ path('backend_admin_property_detail', {id: entity.id}) }}" style="background-color:black; color:#FFF; width:80%;" class="btn btn-primary">{{ 'label_cancel'|trans }}</a>
                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </form>



                    <div class="col-md-2">

                    </div>

                </div>
            </div>

        </div>

    </section>

    <script type="text/javascript">

        $("#updateForm").validate({
            success: function(error){

                return true;
            },

        });

        $("#newPrice").rules("add", {required: true, number:true});
        //


        $("#updateForm").on("submit", function(){
            //Code: Action (like ajax...)
            if($("#updateForm").valid()){
                $('#pizote_spinner').show();
                return true;
            }
            else{
                return false;
            }

        });

    </script>
{% endblock %}

{% block extrascripts %}



{% endblock %}