{% extends "PizoteArkAdminBundle::security.html.twig" %}

{% block title %}
{{ parent() }}
Login
{% endblock %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="smart-form client-form">

        {% if error %}
            <div class="alert alert-danger fade in">
                    <button data-dismiss="alert" class="close">
                            ×
                    </button>
                    <i class="fa-fw fa fa-times"></i>
                    {{ error|trans({}, 'FOSUserBundle') }}
            </div>
            <br>
        {% endif %}



            <div class="panel">

                <div class="panel-body">

                    <div class="form-group">
                        <input type="text" id="username" name="_username"  value="{{ last_username }}" class="form-control" placeholder="{{ 'label_email'|trans }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'label_login_password'|trans }}">
                    </div>
                    <div class="form-group text-center">
                        <a class="forgotp" href="{{ path('my_fos_user_resetting_request') }}">{{ 'label_login_forgot_password'|trans }}</a><br/>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ 'label_login_login'|trans }}</button>
                    <br/>
                    <br/>

                    <div class="form-group text-center">
                        {{ 'label_login_dont_have_pass'|trans }}&nbsp;&nbsp;<a href="{{ path('backend_admin_register_new') }}">{{ 'label_register'|trans }}</a>
                    </div>

                </div>
            </div>




</form>





{% endblock fos_user_content %}