{% extends 'BackendAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('backend_admin_role_index') }}">{{ 'label_menu.roles'|trans  }}</a> </li>
    <li> <a href="{{ path('backend_admin_role_new') }}">{{ 'label_new'|trans  }}</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('BackendAdminBundle:Role:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}